#activeTests, #archivalTests {
  min-height: 600px;

  #testsContents {
  padding-right:30px;

    .tabs_row {
      margin-right: -15px;
      margin-left: -15px;

      #testsLabels.nav-tabs {
        padding: 0;
        margin: 0 auto;
        border: 0;
        white-space: nowrap;
        overflow-y: hidden;

        li {
          display: inline-block;
          white-space: nowrap;
          float: none;

          a {
            padding: 20px 55px;
            border-radius: 0;
            text-transform: uppercase;
            font-weight: bold;
            color: #9a9a9a;
            background-color: #f1f1f1;

            &:hover {
              background-color: #eee;
            }
          }

          &.active {
            a {
              background-color: #fff;
              color:#999999;
              border:0;
            }
          }

        }

      }
    }


    .test_desc {
      margin-bottom: 20px;

      .head {
        background: #fff;
        padding-top: 45px;
        padding-bottom: 45px;

        .left {
          padding-left: 55px;

          h2 {
            padding: 0;
            margin: 0 auto;
            font-weight: bold;
            font-size: 24px;
            color:#4C4C4C;
            padding-bottom:7px;
            letter-spacing: 1px;
          }

          p {
            padding: 0;
            margin: 0 auto;
            color: #999999;
            font-size: 14px;
          }
        }

        .right {
          .code {
            width: 150px;
            padding: 10px 17px;
            font-weight: bold;
            float: right;
            margin-right: 50px;
            background: #E9E9E9;
            color: #4C4C4C;

            .fa {
              color: #999999;
              font-size: 18px;
              line-height: 13px;
              vertical-align: middle;
              padding-right: 10px;
              padding-left: 10px;
            }


            span {
              font-size: 14px;
              line-height: 13px;
              padding-left: 0;
              color: #4C4C4C;
            }

            &.pdf {
              padding: 0 !important;

              a {
                padding: 10px 17px;
                border: 0;
                background-color: #428bca;
                color: #fff;
                text-decoration: none;
                display: block;
                white-space: nowrap;

                i {
                  padding: 0;
                  font-size: 14px;
                  color: #fff;
                  padding-right: 3px;
                }

                &:hover {
                  background-color: #9a9a9a;
                  color: #fff;
                  text-decoration: none;
                }
              }
            }
          }

        }

        .right_menu {
          width: 40px;
          position: absolute;
          top: 0;
          right: -40px;
          background: #E9E9E9;

          ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;

            li {
              padding: 0;
              margin: 0 auto;
              border-bottom: 2px solid #F5F5F5;

              &:last-child {
                border: 0;
              }

              button {
                width: 100%;
                text-align: center;
                background-color: transparent;
                border: 0;
                box-shadow: none;
                cursor: pointer;
                line-height: 38px;

                .fa {
                  font-size: 20px;
                  //padding: 5px 0;
                  color: #9a9a9a;
                  vertical-align: middle;
                }

                &.active {
                  .fa {
                    color: #FF5151;
                  }
                }

                &:hover {
                  .fa {
                    color: #FF5151;
                  }
                }
              }
            }
          }
        }
      }

      .options {
        padding: 45px 45px;
        background: #fff;
        position: relative;
        border-bottom: 2px solid #EBEBEB;

        &:before {
          content: "";
          top: 0;
          left: 50px;
          width: calc(100% - 100px);
          height: 1px;
          background: #dedede;
          position: absolute;
          padding: 0;
          margin: 0 auto;
          display: block;
        }

        @media only screen and (max-width: $media_sm) {
          padding: 15px;
        }



        .box {

          @media only screen and (max-width: $media_sm) {
            margin-bottom: 20px;
            padding: 0;
          }

          .left {
            margin-right: 20px;
            vertical-align: top;
          }

          .left, .right {
            display: inline-block;

            @media only screen and (max-width: $media_sm) {
              white-space: nowrap;
            }

            .fa {
              color: $clMainBlue;
              font-size: 60px;
              line-height: 60px;

              @media only screen and (max-width: $media_sm) {
                font-size: 25px;
                line-height: 49px;
              }
            }

            p {
              text-align: center;
              padding: 0;
              margin: 0 auto;
              vertical-align: top;
              color: #9a9a9a;

              &.small {
                font-size: 14px;
                color:#999999;

                @media only screen and (max-width: $media_sm) {
                  font-size: 21px;
                  display: inline-block;
                  position: relative;
                  line-height: 50px;
                  padding-right: 10px;
                }
              }

              &.big {
                font-size: 34px;
                font-weight: bold;
                position: relative;
                display: block;
                overflow: hidden;
                color:#4C4C4C;

                @media only screen and (max-width: $media_sm) {
                  display: inline-block;
                }

                .end_time {
                  display: block;
                }

                .end_time_detailed {
                  text-align: center;
                  width: 100%;
                  display: none;
                }
              }

              &.w_data {
                font-size: 19px;
                line-height: 48px;
              }
            }

          }
        }
      }

      .users_list {

        .table_users {
          padding: 0;
          margin: 0 auto;

          border-left: 1px solid #EBEBEB;
          border-right: 1px solid #EBEBEB;

          .table {
            padding: 0;
            margin: 0 auto;

            .thead {
              border: 0;
              color: #9a9a9a;
              text-transform: uppercase;
              font-weight: 400;

              .row_table{
                padding: 20px 0px;

                div:first-child{
                  padding-left: 60px;
                }
              }

              @media only screen and (max-width: $media_sm) {
                display: none;
              }
            }

            .archive_users_line {
              border-top: 5px dotted #dedede;
              position: relative;

              span {
                display: block;
                position: absolute;
                font-size: 12px;
                color: #dedede;
                text-transform: uppercase;
                font-weight: bold;
                background: #fff;
                top: -11px;
                right: 15px;
                padding: 0 10px
              }
            }

            .row_table {
              padding: 25px 0 0;
              margin: 0 auto;
              border: 0;
              position: relative;

              color:#4C4C4C;

              .rmv-student {
                position: absolute;
                top: 20px;
                right: -25px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                display: none;

                button {
                  line-height: 25px;
                  width: 25px;
                  height: 25px;
                  padding: 0;
                  margin: 0 auto;
                  border: 0;
                  color: #9a9a9a;
                  background: transparent;
                  font-size: 20px;
                  font-weight: bold;

                  &:hover {
                    color: $clMainRed;
                  }
                }
              }

              &.user {
                cursor: pointer;
                padding: 15px 0 0;

                &:nth-child(2n+1) {
                  background: #fff;
                }

                &.active, &:hover {
                  background: #dedede;
                }

                &.active {
                  .rmv-student {
                    display: block;
                  }
                }
              }

              .first {
                padding-left: 60px;
                padding-bottom: 20px;
                vertical-align: middle;
                padding-top: 5px;

                @media only screen and (max-width: $media_sm) {
                  padding-left: 15px;
                  font-weight: bold;
                  padding-bottom: 10px;
                }
              }

              .last {
                padding-right: 10px;
                text-align: right;

                .student_gradge {
                  display: block;
                  width: 100%;
                  text-align: center;

                  span {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border: 2px solid #9a9a9a;
                    margin: 0 auto;
                    //margin-right: 0;
                    border-radius: 50%;
                    line-height: 26px;
                    text-align: center;
                    color: #9a9a9a;
                    font-weight: bold;
                    margin-top: -5px;

                    &:before {
                      content: "0";
                    }

                    &.ndst {
                      border-color: #c52e2e;
                      color: #c52e2e;

                      &:before {
                        content: "1";
                      }
                    }


                    &.dop {
                      border-color: #cea405;
                      color: #cea405;

                      &:before {
                        content: "2";
                      }
                    }

                    &.dst {
                      border-color: #cec002;
                      color: #cec002;

                      &:before {
                        content: "3";
                      }
                    }

                    &.db {
                      border-color: #95a900;
                      color: #95a900;

                      &:before {
                        content: "4";
                      }
                    }

                    &.bdb {
                      border-color: #09a500;
                      color: #09a500;

                      &:before {
                        content: "5";
                      }
                    }

                  }

                }
              }

              .progress {
                background: #EBEBEB;
                border: 1px solid #D9D9D9;
                height: 27px;
                margin-right: 50px;
                margin-bottom: 0;
                border-radius: 7px;

                .progress-bar {
                  background: #81B95D;
                  font-size: 13px;
                  padding-top: 2px;

                  &.ended {
                    background-color: #ebebeb;
                    box-shadow: none;
                    color: #929292;
                  }
                }
              }

              .student_answers {
                display: none;
                margin: 0 auto;
                padding: 30px 40px;
                background-color: #efefef;
                border-top: 1px solid #dedede;
                position: relative;

                .answers_list {
                  .empty {
                    color: #b9b9b9;
                    font-size: 20px;
                  }
                }


                .right_menu {
                  width: 40px;
                  position: absolute;
                  right: 0;
                  top: -55px;

                  ul {
                    margin: 0 auto;
                    padding: 0;
                    list-style: none;

                    li {
                      padding: 0;
                      margin: 0 auto;

                      button {
                        width: 100%;
                        text-align: center;
                        background-color: transparent;
                        border: 0;
                        box-shadow: none;

                        .fa {
                          font-size: 20px;
                          padding: 5px 0;
                          color: #9a9a9a;
                        }

                      }
                    }
                  }
                }

                .answer {
                  padding: 5px 2px;
                  font-size: 14px;

                  &.wrong {
                    color: #9a9a9a;
                  }

                  &.correct {
                    color: $clMainGreen;
                    background-color: #dff0d8;
                  }

                  &:hover {
                    color: black;
                  }
                }
              }

            }

          }
        }
      }

    }

  }


}