#archivalTestsView {

  .test_container {
    margin-bottom: 3px;

    .head {
      color: #999999;
      background: #E9E9E9;
      padding: 25px;
      font-size: 14px;
      line-height: 20px;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      cursor: pointer;
      border-bottom:1px solid #DDDDDD;

      &:after {
        content: "\f0d7";
        font-family: FontAwesome;
        right: 30px;
        position: absolute;
        top: 25px;
        color: #999999;
        font-weight: 100;
        font-size: 20px;
      }

      .fa {
        padding-right: 5px;
        vertical-align: middle;
        line-height: 20px;
      }

      .name {
        vertical-align: middle;


        @media only screen and (max-width: $media_sm) {
          padding-bottom:20px;
        }

        .fa {
          padding-right: 18px;
          font-size: 16px;
        }
      }

    }


    .body {
      display: none;

      .top {
        padding: 15px 30px;
        position: relative;
        background: #fff;

        .subtitle {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
          line-height: 40px;
          padding-left: 30px;

          @media only screen and (max-width: $media_sm) {
            padding-left:0;
            padding-bottom:10px;
          }
        }

        .pdf-cnt{
          text-align: right;
          @media only screen and (max-width: $media_sm) {
            margin-bottom: 5px;
          }
        }

        .btn.pdf{
          padding: 10px 13px;
          border-width: 1px;
          font-weight: bold;
          line-height: 21px;
          vertical-align: middle;
          width: 100%;

          @media only screen and (max-width: $media_sm) {
            padding: 0;
            margin: 0;
            border: 0;
            width: auto;
            margin-right: -7px;
            color:$clMainBlue;
            background: transparent;

            &:hover{
              color:$clMainBlue;
              background: transparent;
            }
          }

          .fa{
            padding-right: 5px;
            font-size: 21px;
            vertical-align: top;
            line-height: 21px;
          }
        }

        .btn.del{
          position: absolute;
          right: 28px;
          top: 25px;
          color: #FF5151;
          font-weight: 100;
          font-size: 20px;
          padding:0;
          background: transparent;
          border: 0;
        }
      }

      .bottom{
        padding-left: 15px;
        padding-right: 15px;

        .users_list {

          .table_users {
            padding: 0;
            margin: 0 auto;

            border-left: 1px solid #EBEBEB;
            border-right: 1px solid #EBEBEB;

            .table {
              padding: 0;
              margin: 0 auto;

              .thead {
                border: 0;
                color: #9a9a9a;
                text-transform: uppercase;
                font-weight: 400;

                .row_table{
                  padding: 20px 0;

                  div:first-child{
                    padding-left: 60px;
                  }

                  @media only screen and (max-width: $media_sm) {
                    padding:15px;
                  }
                }

                @media only screen and (max-width: $media_sm) {
                  display: none;
                }
              }

              .archive_users_line {
                border-top: 5px dotted #dedede;
                position: relative;

                span {
                  display: block;
                  position: absolute;
                  font-size: 12px;
                  color: #dedede;
                  text-transform: uppercase;
                  font-weight: bold;
                  background: #fff;
                  top: -11px;
                  right: 15px;
                  padding: 0 10px
                }
              }

              .row_table {
                padding: 25px 0 0;
                margin: 0 auto;
                border: 0;
                position: relative;

                color:#4C4C4C;

                .rmv-student {
                  position: absolute;
                  top: 20px;
                  right: -25px;
                  width: 25px;
                  height: 25px;
                  line-height: 25px;
                  display: none;

                  button {
                    line-height: 25px;
                    width: 25px;
                    height: 25px;
                    padding: 0;
                    margin: 0 auto;
                    border: 0;
                    color: #9a9a9a;
                    background: transparent;
                    font-size: 20px;
                    font-weight: bold;

                    &:hover {
                      color: $clMainRed;
                    }
                  }
                }

                &.user {
                  cursor: pointer;
                  padding: 15px 0 0;

                  &:nth-child(2n+1) {
                    background: #fff;
                  }

                  &.active, &:hover {
                    background: #dedede;
                  }

                  &.active {
                    .rmv-student {
                      display: block;
                    }
                  }

                  @media only screen and (max-width: $media_sm) {
                    padding: 15px;
                    background: #dedede !important;
                  }
                }

                .first {
                  padding-left: 60px;
                  padding-bottom: 20px;
                  vertical-align: middle;
                  padding-top: 5px;

                  @media only screen and (max-width: $media_sm) {
                    padding-left: 15px;
                    font-weight: bold;
                    padding-bottom: 10px;
                  }
                }

                .last {
                  padding-right: 10px;
                  text-align: right;

                  .student_gradge {
                    display: block;
                    width: 100%;
                    text-align: center;

                    @media only screen and (max-width: $media_sm) {
                      margin-bottom:10px;
                    }

                    span {
                      display: block;
                      width: 30px;
                      height: 30px;
                      border: 2px solid #9a9a9a;
                      margin: 0 auto;
                      //margin-right: 0;
                      border-radius: 50%;
                      line-height: 26px;
                      text-align: center;
                      color: #9a9a9a;
                      font-weight: bold;
                      margin-top: -5px;

                      &:before {
                        content: "0";
                      }

                      &.ndst {
                        border-color: #c52e2e;
                        color: #c52e2e;

                        &:before {
                          content: "1";
                        }
                      }


                      &.dop {
                        border-color: #cea405;
                        color: #cea405;

                        &:before {
                          content: "2";
                        }
                      }

                      &.dst {
                        border-color: #cec002;
                        color: #cec002;

                        &:before {
                          content: "3";
                        }
                      }

                      &.db {
                        border-color: #95a900;
                        color: #95a900;

                        &:before {
                          content: "4";
                        }
                      }

                      &.bdb {
                        border-color: #09a500;
                        color: #09a500;

                        &:before {
                          content: "5";
                        }
                      }

                    }

                  }
                }

                .progress {
                  background: #EBEBEB;
                  border: 1px solid #D9D9D9;
                  height: 27px;
                  margin-right: 50px;
                  margin-bottom: 0;
                  border-radius: 7px;

                  @media only screen and (max-width: $media_sm) {
                    margin-right:0;
                    margin-bottom:20px;
                    margin-top:10px;
                  }

                  .progress-bar {
                    background: #81B95D;
                    font-size: 13px;
                    padding-top: 2px;

                    &.ended {
                      background-color: #ebebeb;
                      box-shadow: none;
                      color: #929292;
                    }
                  }
                }

                .student_answers {
                  display: none;
                  margin: 0 auto;
                  padding: 30px 40px;
                  background-color: #efefef;
                  border-top: 1px solid #dedede;
                  position: relative;

                  @media only screen and (max-width: $media_sm) {
                    padding:10px;
                  }

                  .answers_list {
                    .empty {
                      color: #b9b9b9;
                      font-size: 20px;
                    }
                  }


                  .right_menu {
                    width: 40px;
                    position: absolute;
                    right: 0;
                    top: -55px;

                    ul {
                      margin: 0 auto;
                      padding: 0;
                      list-style: none;

                      li {
                        padding: 0;
                        margin: 0 auto;

                        button {
                          width: 100%;
                          text-align: center;
                          background-color: transparent;
                          border: 0;
                          box-shadow: none;

                          .fa {
                            font-size: 20px;
                            padding: 5px 0;
                            color: #9a9a9a;
                          }

                        }
                      }
                    }
                  }

                  .answer {
                    padding: 5px 2px;
                    font-size: 14px;

                    &.wrong {
                      color: #9a9a9a;
                    }

                    &.correct {
                      color: $clMainGreen;
                      background-color: #dff0d8;
                    }

                    &:hover {
                      color: black;
                    }
                  }
                }

              }

            }
          }
        }
      }


    }



    &.active{

      .head{
        background: #fff;
        color:#4C4C4C;

        &:after {
          content: "\f0d8";
        }

        .fa{
          color:#999999;
        }

        .name{
          .fa{
            color:$clMainBlue;
          }
        }

      }
    }



  }
}