#homepage {
  overflow: hidden;
  position: relative;

  #mainStart {
    background-color: #EEEEEE;
    @include bgImage('pages/homepage/main_bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    padding-top: 90px;
    padding-bottom: 200px;

    @media only screen and (max-width: $media_sm) {
      padding-top: 30px;
      padding-bottom: 30px;
      background-image: none;
    }

    h2 {
      color: #333333;
      font-size: 40px;
      font-weight: 400;
      padding-bottom: 0;
      margin-bottom: 0;

      @media only screen and (max-width: $media_sm) {
        font-size: 23px;
      }
    }

    h1 {
      color: #336699;
      font-size: 88px;
      font-weight: 600;
      padding-top: 0;
      margin-top: 0;

      @media only screen and (max-width: $media_sm) {
        font-size: 50px;
      }
    }

    p {
      padding-top: 10px;
      padding-bottom: 20px;
      color: #4C4C4C;
      font-size: 18px;
      line-height: 30px;

      &.btns {
        a {
          margin-right: 10px;
        }
      }
    }

  }

  #teacher {
    padding: 50px 0;

    @media only screen and (max-width: $media_sm) {
      padding: 40px 15px;
    }

    h2 {
      font-size: 64px;
      font-weight: bold;
      color: #336699;
      padding-bottom: 10px;
      margin-top: 0;

      @media only screen and (max-width: $media_sm) {
        font-size: 40px;
        text-align: left;
      }
    }
    p {
      font-size: 18px;
      line-height: 30px;
      width: 790px;
      margin: 0 auto;
      max-width: 100%;

      @media only screen and (max-width: $media_sm) {
        text-align: left;
      }
    }
  }

  #quotation {
    background: #336799;
    padding-top: 100px;
    padding-bottom: 120px;
    color: #fff;
    @include bgImage('pages/homepage/quotation_bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    overflow: hidden;

    @media only screen and (max-width: $media_sm) {
      padding: 30px 20px;
    }

    .quot {
      font-size: 22px;
      line-height: 35px;
      font-weight: 100;
      font-style: italic;

      @media only screen and (max-width: $media_sm) {
        font-size: 19px;
        line-height: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    .right {
      padding-left: 100px;

      @media only screen and (max-width: $media_sm) {
        display: none;
      }

      h2 {
        font-size: 48px;
        line-height: 52px;
        font-weight: bold;
        padding-top: 50px;
      }
    }

    .flag_bg {
      background: #fff;
      position: absolute;
      margin-top: -100px;
      left: calc(50% + 200px);
      width: 50%;
      height: 100px;

      @media only screen and (max-width: $media_sm) {
        display: none;
      }

      img {
        position: absolute;
        bottom: -2px;
        left: -96px;
      }
    }
  }

  .grey_bg {
    background: #EFEFEF;
  }

  #knowledge {
    margin-top: -60px;
    background: #fff;
    position: relative;

    @media only screen and (max-width: $media_sm) {
      margin-top: 0;
    }

    h2 {
      font-size: 48px;
      line-height: 52px;
      font-weight: bold;
      color: #333333;
      padding-top: 60px;
      padding-bottom: 60px;
      margin: 0 auto;

      @media only screen and (max-width: $media_sm) {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 30px;
        line-height: 34px;
      }
    }

    .left {
      padding-left: 0;

      img {
        max-width: 100%;
      }
      @media only screen and (max-width: $media_sm) {
        padding: 0 15px;
      }
    }

    .right {
      padding-left: 50px;
      padding-top: 38px;

      @media only screen and (max-width: $media_sm) {
        padding: 20px 15px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 40px;

        @media only screen and (max-width: $media_sm) {
          padding-bottom: 20px;
        }
      }
    }
  }

  #testSection {
    h2 {
      font-size: 64px;
      line-height: 80px;
      color: #336699;
      padding-top: 20px;
      font-weight: bold;

      @media only screen and (max-width: $media_sm) {
        font-size: 40px;
        line-height: 1.2em;
      }
    }
    p {
      font-size: 18px;
      line-height: 30px;
      color: #4C4C4C;
      padding-bottom: 40px;
      padding-top: 10px;
      width: 500px;
      margin: 0 auto;


      @media only screen and (max-width: $media_sm) {
       max-width: 100%;
        margin-bottom:0;
        padding-bottom:0;
      }
    }

    .teacher_test {
      height: 700px;
      width: 800px;
      padding: 0;
      margin: 0 auto;
      background-position: center bottom;
      @include bgImage('pages/homepage/teacher_test.png');
      background-repeat: no-repeat;
      position: relative;

      @media only screen and (max-width: $media_sm) {
        height: auto;
        width: 100%;
        padding: 15px;
        background-image: none;
        padding-bottom:60px;
      }

      .step {
        width: 300px;
        position: absolute;
        font-size: 18px;
        line-height: 30px;

        @media only screen and (max-width: $media_sm) {
          position: relative;
          width: 100%;
        }

        .num {
          font-size: 36px;
          line-height: 70px;
          border: 1px solid #336699;
          display: block;
          width: 70px;
          text-align: center;
          border-radius: 50%;
          margin-bottom: 15px;
          color: #336699;

          @media only screen and (max-width: $media_sm) {
            margin:0 auto;
            text-align: center;
            margin-top:30px;
          }
        }

        h3 {
          font-weight: bold;
          padding: 0;
          margin: 0 auto;
          font-size: 18px;
          line-height: 30px;

          @media only screen and (max-width: $media_sm) {
            text-align: center;
            font-size: 20px;
            padding-top: 10px;
            color:$clMainBlue;
          }
        }

        p {
          padding: 0;
          margin: 0 auto;
          max-width: 100%;
          font-size: 18px;
          line-height: 30px;

          @media only screen and (max-width: $media_sm) {
            text-align: center;
          }
        }

        &.step1 {
          left: 50%;
          margin-left: -470px;
          top: 90px;
        }

        &.step2 {
          left: 50%;
          top: 120px;
          margin-left: 200px;
        }

        &.step3 {
          left: 50%;
          top: 410px;
          margin-left: -470px;
        }
        &.step1, &.step2, &.step3 {
          @media only screen and (max-width: $media_sm) {
            left: auto;
            top: auto;
            margin: 0 auto;
          }
        }
      }
    }
  }

  #lessons_slider {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 150px;
    position: relative;

    @media only screen and (max-width: $media_sm) {
      margin-bottom: 20px;
      padding-bottom: 0;
    }

    &:before {
      position: absolute;
      display: block;
      width: 100%;
      height: 80%;
      content: " ";
      background: #EFEFEF;
      top: 0;

      @media only screen and (max-width: $media_sm) {
        display: none;
      }
    }

    .image {
      overflow: hidden;
    }

    .right {
      padding-left: 100px;

      @media only screen and (max-width: $media_sm) {
        padding-left: 30px;
      }

      h2 {
        font-size: 48px;
        font-weight: bold;
        padding-bottom: 10px;

        @media only screen and (max-width: $media_sm) {
          font-size: 30px;
        }
      }
      p {
        font-size: 17px;
        line-height: 26px;
        color: #4C4C4C;
        padding-bottom: 10px;

        @media only screen and (max-width: $media_sm) {
          font-size: 16px;
          line-height: 25px;
        }
      }

    }

    .owl-nav {
      width: 100px;
      position: absolute;
      bottom: 91px;
      left: 50%;
      margin-left: -50px;
      background: #fff;

      @media only screen and (max-width: $media_sm) {
        position: relative;
        margin: 0 auto;
        margin-right: 0;
        left: auto;
        bottom: auto;
      }

      .owl-prev, .owl-next {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin: 0 auto;
        text-align: center;
        color: #336699;

        @media only screen and (max-width: $media_sm) {
          background: #D2D2D2;
        }
      }

      .owl-next {
        background: #D2D2D2;
      }
    }
  }

}