#questionsCollection {

  padding-top: 20px;
  padding-bottom: 60px;

  .title {

    h2 {
      color: #01669c;
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      color: #999999;
    }
  }

  .questions-list-box {
    margin-top: 0;

    .left_col {
      padding-right: 0;

      @media only screen and (max-width: $media_sm) {
        padding-right: 15px;
      }

      ul.nav {
        margin-bottom: 0;
        border: 0;

        @media only screen and (max-width: $media_sm) {
          width: calc(100% - 50px);
          position: relative;
        }

        li {
          display: block;
          width: 100%;

          &.add_li {
            @media only screen and (max-width: $media_sm) {
              display: block;
              width: 50px;
              position: absolute;
              right: -50px;
              top: 0;
              text-align: center;
            }
          }

          a {
            color: #BEBEBE;
            display: block;
            width: 100%;
            background: #E6E6E6;
            border-radius: 0;
            font-weight: 600;
            padding: 30px 40px;

            span {
              display: block;
              width: 100%;
              font-size: 12px;
              font-weight: 100;
            }
          }

          button.add {
            padding: 30px 40px;
            border: 0;
            border-bottom: 1px solid #E6E6E6;
            background-color: transparent;
            color: #01669c;
            display: block;
            width: 100%;
            text-align: left;

            @media only screen and (max-width: $media_sm) {
              padding: 37px 0;
              text-align: center;
              border: 0;

              span {
                display: none;
              }
            }

            .fa {
              margin-left: 30px;
              background: #01669c;
              padding: 5px;
              border-radius: 50%;
              width: 22px;
              height: 22px;
              line-height: 14px;
              color: #fff;
              font-size: 13px;
              text-align: center;

              @media only screen and (max-width: $media_sm) {
                margin: 0 auto;
              }
            }
          }

          &.active {
            border-radius: 0;
            a {
              background: #fff;
              color: #939393;
              border-radius: 0;
              border: 0;

              .badge {
                background: #fff;
                color: #01669c;
              }
            }
          }
        }

      }
    }

    .right_col {
      background: #fff;
      padding: 30px;
      min-height: 600px;

      @media only screen and (max-width: $media_sm) {
        margin-top: 25px;
        padding: 30px 15px;
      }

      .top_label {
        display: none;
        @media only screen and (max-width: $media_sm) {
          font-size: 20px;
          line-height: 27px;
          color: #999;
          padding: 20px;
          text-align: center;
          display: block;
        }
      }

      .description {

        .options {

          button.addQuestion {
            position: relative;
            display: block;
            width: 100%;
            margin: 0 auto;
            text-align: left;
            font-size: 20px;
            padding: 20px;
            cursor: pointer;
            background: transparent;
            color: $clMainBlue;
            font-weight: 100;
            font-size: 20px;
            border: 0;

            .fa {
              position: absolute;
              right: 20px;
              top: 25px;
            }

            &:hover {
              background: $clMainBlue;
              color: #fff;

              .fa {
                color: #fff;
              }
            }
          }

          button.removeLesson {
            position: absolute;
            top: -31px;
            right: -61px;
            width: 45px;
            height: 40px;
            text-align: center;
            border: 0;
            background: #eeeeee;
            color: #FF5151;
            font-size: 23px;

            &:hover{
              background: #E9E9E9;
            }

            @media only screen and (max-width: $media_sm) {
              top: -51px;
              right: 16px;
            }
          }
        }
      }

      .questions-list {
        > ul {
          list-style: none;
          padding: 0;

          li {
            margin-bottom: 5px;

            @media only screen and (max-width: $media_sm) {
              margin-bottom: 8px;
            }

            .top {
              background: #E9E9E9;
              border: 1px solid #eeeeee;
              padding: 20px;
              cursor: pointer;
              position: relative;
              font-weight: bold;
              color: #4C4C4C;
              font-size:14px;

              &:hover{
                background-color: #e2e2e2;
              }

              @media only screen and (max-width: $media_sm) {
                padding-bottom: 40px;
                padding-right: 40px;
              }

              .img {
                position: absolute;
                right: 43px;
                font-size: 20px;
                color: #cecece;
                top: 17px;
                display: none;

                @media only screen and (max-width: $media_sm) {
                  bottom: 0;
                  top: auto;
                  right: 5px;
                }
              }

              &:after {
                content: "\f0d7";
                font-family: FontAwesome;
                right: 20px;
                position: absolute;
                top: 17px;
                color: #999999;
                font-weight: 100;
                font-size: 20px;
              }

              &.active {
                background: #F5F5F5;
                border: 1px solid #eeeeee;

                &:after {
                  content: "\f0d8";
                }

              }

            }

            .bottom {
              background: #fff;
              display: none;
              position: relative;
              border: 1px solid #eeeeee;
              border-top: 0;

              ul {
                padding: 20px 20px 40px 20px;
                list-style: url;

                li {
                  margin-bottom: 10px;
                  line-height: 30px;
                  cursor: pointer;
                  border: 1px solid #F1F1F1;
                  padding: 7px 20px;
                  list-style: none;
                  font-size: 16px;
                  color: #7F7F7F;
                  padding-right: 50px;

                  span {
                    background: #F1F1F1;
                    width: 37px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 20px;
                    border: 1px solid #F1F1F1;
                  }

                  &.correct {
                    background-color: #508BC7;
                    color: #fff;
                    position: relative;

                    &:after {
                      content: "\f00c";
                      font-family: FontAwesome;
                      position: absolute;
                      right: 20px;
                      color: #fff;
                      height: 40px;
                      line-height: 40px;
                      top: 50%;
                      margin-top: -20px;
                    }
                    span {
                      background: #508BC7;
                    }
                  }
                }
              }

              .image-quest {
                margin: 20px 20px 0 0;
                padding: 15px;
                background-color: #fff;
                -webkit-box-shadow: #d2d2d2 0 5px 5px;
                -moz-box-shadow: #d2d2d2 0 5px 5px;
                box-shadow: #d2d2d2 0 5px 5px;
                max-width: 90%;

                &:hover{
                  box-shadow: #a9a9a9 0 5px 5px;
                }

                img {
                  max-width: 100%;
                }
              }

              .removebtn {
                position: absolute;
                bottom: 3px;
                right: -3px;

                button {
                  color: #FF5151;
                  background: transparent;
                  border: 0;
                  padding: 2px 10px;
                  font-size: 17px;
                  line-height: 17px;

                  &:hover {
                    @include Opacity(.6);
                  }
                }
              }
            }
          }
        }

      }

    }

  }

}

#addLessonModal, #addQuestionModal {

  .modal-header {
    h4 {
      color: #01669c;
    }
  }

  .modal-body {
    padding: 30px;

    .left {
      label {
        color: #bababa;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
        line-height: 50px;

        &.correct {
          color: $clMainBlue;
        }
      }
    }

    .box {
      padding-bottom: 20px;

      input {
        background: #f1f1f1;
        border: 1px solid #dedede;
        color: #c7c7c7;
        font-size: 18px;
        line-height: 18px;
        padding: 20px;
        width: 100%;
        color: #555;

        &::-webkit-input-placeholder {
          color: #d8d8d8;
        }
        &:-moz-placeholder {
          color: #d8d8d8;
        }
        &::-moz-placeholder {
          color: #d8d8d8;
        }
        &:-ms-input-placeholder {
          color: #d8d8d8;
        }

        &.error {
          border-color: $clMainRed;
        }

      }

      .radio {
        position: absolute;
        top: 15px;
        width: 30px;
        right: 0;
        height: 30px;
        @include Opacity(0);
        z-index: 2;
      }

      .checkmark {
        position: absolute;
        top: 15px;
        right: 0;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border: 1px solid #DEDEDE;
      }

      input.radio:checked ~ .checkmark {
        background-color: $clMainBlue;
        border-color: $clMainBlue;

        &:after {
          content: "\f00c";
          font-family: FontAwesome;
          color: #fff;
          line-height: 30px;
          width: 100%;
          text-align: center;
          display: block;
        }
      }

      .fa.error {
        position: absolute;
        top: 18px;
        right: 20px;
        margin-left: -20px;
        z-index: 2;
        color: red;
        display: none;
        width: 10px;
        padding: 0;
        margin: 0 auto;
        line-height: 50px;
        top: 8px;
        display: none;
      }

      &.error {
        input {
          border: 2px solid red;
        }

        .fa {
          display: inline-block;
        }

      }
    }

    .log {
      color: #fff;
      background: #5fbb58;
      padding: 20px 50px;
      text-align: center;
      font-size: 12px;
      margin: 0 auto;
      margin-top: 15px;
      display: none;

      p {
        padding: 0;
        margin: 0 auto;
      }
    }

  }

}

#addQuestionModal {

  .modal-body {

    .box {
      padding-right: 40px;

      .fa.error {
        right: 47px;
      }
    }
  }

}

// lightbox
.lb-container {
  padding: 0 !important;
}
