#testCreator {

  .form {
    max-width: 900px;
    margin: 0 auto;

    @media only screen and (max-width: $media_sm) {
      padding-left: 40px;
      max-width: 100%;
    }

    .row_form {
      border-bottom: 1px solid #DDDDDD;
      padding: 40px 0;

      &.first {
        padding-top: 0;
      }

      &.without_bottom {
        padding-bottom: 0;
        border-bottom: 0;
      }

      &.without_top {
        padding-top: 0;
      }

      #duration, #people {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #999999;
        font-weight: 600;

        span {
          margin-top: -7px;
          font-size: 14px;
          line-height: 20px;
          padding-left: 3px;
          padding-right: 5px;
          font-weight: 400;
        }
      }

      #people {
        span {
          padding: auto 5px;
        }
      }

      input.input_box {
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        font-size: 18px;
        line-height: 25px;
        padding: 20px;
        width: 80%;
        color: #4C4C4C;

        @media only screen and (max-width: $media_sm) {
          width: 100%;
        }

        &::-webkit-input-placeholder {
          color: #C3C3C3;
        }

        &:-moz-placeholder {
          color: #C3C3C3;
        }

        &::-moz-placeholder {
          color: #C3C3C3;
        }

        &:-ms-input-placeholder {
          color: #C3C3C3;
        }

        &.error {
          border-color: $clMainRed;
        }

        &.valid {
          border-color: $clMainGreen;
        }
      }

      .test_type {
        color: #bababa;
        max-width: 80%;

        p {
          color: #999999;
          padding: 0;
          margin: 0 auto;
          padding-top: 15px;
          font-weight: 400;
        }

        .radio_options {
          padding-left: 15px;

          > .left, > .right {
            display: inline-block;
            line-height: 40px;

            label {
              font-weight: 300 !important;
            }

            span.label {
              padding-left: 10px;
              font-size: 14px;
              line-height: 40px;
              font-weight: 400;
            }

            span.check {
              border: 1px solid #DEDEDE;
              width: 40px;
              height: 40px;
              text-align: center;
              background: #fff;
              display: block;
              position: absolute;
              left: 0;
              color: #fff;
              top: 0;
              cursor:pointer;
            }

            input {
              display: inline-block;
              width: 21px;

              &:checked ~ .check {
                background: $clMainBlue;
                border-color: $clMainBlue;

                &:after {
                  content: "\f00c";
                  font-family: FontAwesome;
                }
              }

              ~ span.label {
                color: #C3C3C3;
              }

              &:checked ~ span.label {
                color: #4C4C4C;
                font-weight: 400;
              }
            }

          }
        }
      }

      > .slider {
        display: block;
        position: relative;

        .sliderrange, .sliderrange2 {
          height: 6px;
          border: 0;
          background: #E9E9E9;
          margin-top: 28px;

          .ui-slider-range {
            background: $clMainBlue;
          }

          .ui-slider-handle {
            height: 23px;
            width: 23px;
            background: $clMainBlue;
            border: 2px solid $clMainBlue;
            border-radius: 50%;
            margin-top: -6px;
            cursor: pointer;

            &:active, &:hover, &:focus, &:visited {
              outline: none;
            }
          }
        }
      }

      > .left {
        color: #999999;
        font-size: 14px;
        line-height: 14px;
        padding: 23px 0;
        text-transform: uppercase;

        label {
          font-weight: 400 !important;
        }
      }

      > .right {

      }

      > .select_questions_submit {
        &.error {
          button {
            border-color: $clMainRed;
          }
        }
      }

      .add_test_col {
        @media only screen and (max-width: $media_sm) {
          text-align: center;
          padding-top: 30px;
        }
      }

    }

    .alert_box {
      padding: 15px;
      background-color: #bababa;
      color: #fff;
      margin-top: 0;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 50px;
      font-weight: 100;
      font-size: 16px;
      border: 0;
      border-radius: 0;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  /* modal */
  #modalQuestions {
    background: rgba(1, 102, 156, 0.9);

    .modal-dialog {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
      border: 0;

      .modal-content {
        background: transparent;
        border: 0;
        box-shadow: none;

        .modal-header {

          @media only screen and (max-width: $media_sm) {
            padding-top: 70px;
          }

          .close {
            border: 2px solid white;
            @include Opacity(1);
            width: 50px;
            height: 50px;
            color: #fff;
            text-shadow: none;
            font-size: 36px;
            line-height: 50px;
            padding: 0;
            margin: 0 auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;

            span {
              line-height: 50px;
              padding: 0;
              margin: 0 auto;
              display: block;
              height: 50px;
            }

            &:hover {
              @include Opacity(.8);
            }
          }

          h4.modal-title {
            color: #fff;
            font-size: 30px;
          }

          .selected_questions_count {
            padding-top: 20px;
            color: #fff;
            border-bottom: 1px solid #ffffff4d;
            max-width: 240px;
            margin: 0 auto;
            padding-bottom: 10px;

            .badge {
              background: #fff;
              color: #01669c;
              margin-left: 5px;
              border-radius: 7px;
            }
          }

          .lesson_list {
            margin: 30px;

            ul {
              border: 0;

              li {
                float: none;
                border: 0;
                margin: 0 auto;
                max-width: 300px;
                display: inline-block;

                @media only screen and (max-width: $media_sm) {
                  max-width: 100%;
                }

                a {
                  background-color: #fff;
                  color: #428bca;
                  border-radius: 0;
                  border: 2px solid #fff;
                  cursor: pointer;
                }

                &.active {
                  a {
                    background-color: transparent;
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .modal-body {
          padding: 0;
          border: 0;

          .top_lesson {
            border: 0;
            margin: 0 auto;
            padding: 5px;
            text-align: center;
            margin-bottom: 20px;
            background: #fff;

            @media only screen and (max-width: $media_sm) {
              font-size: 16px;
              text-align: center;
              width: 100%;
              line-height: 30px;
            }


            button {
              color: #428bca;
              border: 0;
              background: transparent;

              &:disabled {
                @include Opacity(.4);
              }
            }
          }


          .no_questions {
            color: #fff;
            padding: 20px;
            font-size: 22px;
            font-weight: 100;
          }

          .questions_list {
            padding: 0;
            padding-bottom: 30px;

            ul {
              columns: 2;
              -webkit-columns: 2;
              -moz-columns: 2;
              margin: 0 auto;
              padding: 0;

              @media only screen and (max-width: $media_sm) {
                columns: 1;
                -webkit-columns: 1;
                -moz-columns: 1;
              }

              li {
                color: #fff;
                font-size: 20px;
                line-height: 24px;
                font-weight: 100;
                list-style: none;
                padding: 10px;
                @include Opacity(.4);


                @media only screen and (max-width: $media_sm) {
                  max-width: 100%;
                  width: 100%;
                }

                .fa {
                  @include Opacity(1);
                  font-size: 17px;
                }

                &.checked {
                  @include Opacity(1);
                }

                label {
                  font-weight: 300;
                  padding-left: 30px;
                  position: relative;
                }

                .checkmark {
                  background-color: #fff;
                  width: 20px;
                  height: 20px;
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 3px;
                  cursor: pointer;
                }

                input {
                  position: absolute;
                  @include Opacity(0);
                  cursor: pointer;
                  width: 10px;
                  top: 0;
                  left: 0;


                  &:checked ~ .checkmark:after {
                    font-family: FontAwesome;
                    content: "\f00c";
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 20px;
                    width: 20px;
                    text-align: center;
                    line-height: 19px;
                    color: $clMainBlue;
                    font-size: 16px;
                  }

                }


                &:hover {
                  @include Opacity(1);

                  label {
                    cursor: pointer;
                  }
                }
              }
            }
          }

        }

      }
    }

  }

}