#testPageContainer {
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  @include bgImage('pages/test/test_bg.png');
  background-position: center center;
  background-size: cover;

  &.ov_hidden {
    overflow: hidden;
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    color: #508BC7;
  }

  .hashBox {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .bg_bottom {
      height: 155px;
      width: 100%;
      background-repeat: no-repeat;
      @include bgImage('pages/test/start_bottom_bg.png');
      background-position: center center;
      margin: 0 auto;
      position: fixed;
      bottom: 0;
      z-index: 2;
    }

    .bg_top {
      height: 471px;
      width: 100%;
      background-repeat: no-repeat;
      @include bgImage('pages/test/start_bg_top.png');
      background-position: center center;
      margin: 0 auto;
      position: fixed;
      top: 0;
      z-index: 2;
    }

    .start_view {
      height: 622px;
      width: 100%;
      position: absolute;
      top: 50%;
      margin-top: -311px;
      z-index: 3;

      @media only screen and (max-width: $media_sm) {
        position: relative;
        margin: 0 auto;
        top: auto;
        padding-top: 40px;
      }

      .text {
        p {
          font-size: 20px;
          color: #7F7F7F;
        }
      }

      .box {
        margin-top: 20px;

        input {
          width: 100%;
          max-width: 300px;
          text-align: center;
          font-size: 18px;
          padding: 5px 10px;
          display: block;
          margin: 0 auto;
          margin-bottom: 15px;
          color: #7F7F7F;
          font-weight: 300;
          border: 1px solid #cccccc;

          &.error {
            border-color: $clMainRed;
          }

          &::-webkit-input-placeholder {
            color: #C3C3C3;
          }
          &:-moz-placeholder {
            color: #C3C3C3;
          }
          &::-moz-placeholder {
            color: #C3C3C3;
          }
          &:-ms-input-placeholder {
            color: #C3C3C3;
          }

        }

        button {
          background: #C52E2E;
          color: #fff;
          border: 2px solid #fff;
          font-size: 16px;
          text-align: center;
          margin: 0 auto;
          max-width: 200px;
          padding: 8px 10px;
          width: 200px;
          display: block;
          cursor: pointer;

          &:hover {
            transition: background-color .2s linear;
            color: #C52E2E;
            border-color: #C52E2E;
            background-color: #fff;
          }

          &.disabled {
            @include Opacity(.5);
            color: #fff;
            border: 2px solid #fff;
            background: #C52E2E;
            cursor: auto;
          }
        }
      }

      .start_image {
        margin: 0 auto;
        background-repeat: no-repeat;
        @include bgImage('pages/test/start_image.png');
        background-position: center center;
        background-size: auto 100%;
        width: 300px;
        height: 300px;
        margin-top: 60px;

        @media only screen and (max-width: $media_sm) {
          width: 150px;
          height: 150px;
        }

      }

    }

  }

  #testBox {
    margin-top: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    background-color: #fff;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;

    .title {

      #test_description {
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        padding-bottom: 20px;

        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 30px;
          height: 2px;
          background: #A30000;
          bottom: 0;
          left: 50%;
          margin-left: -15px;
        }
      }

    }

    .bottom_row {
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
      background-color: #F1F1F1;
      color: #7F7F7F;
      font-size: 16px;

      .progressbox {
        margin-top: 32px;
        .box {
          width: 220px;
          margin: 0 auto;

          .text {
            padding-bottom: 10px;
            font-size: 16px;
            color: #7F7F7F;

            span {
              font-weight: bold;
            }
          }

          .progress {
            background-color: #A8D3FF;
            height: 4px;
            background-image: none;
            border-radius: 0;

            .progress-bar {
              height: 25px;
              line-height: 25px;
              font-size: 16px;
              background-color: #508BC7;
              background-image: none;
              color: #fff;
              white-space: nowrap;

              span {
                display: inline-block;
                padding: 0;
                margin: 0 auto;
              }
            }

          }
        }
      }

      .time {
        #time {
          text-align: center;
          margin-top: 32px;
          display: inline-block;
          font-weight: 600;
        }
      }

      .author_name {
        padding-top: 32px;

        span {
          font-weight: 600;
        }
      }

    }

    .question_row {
      padding: 0;
      margin: 0 auto;
      position: relative;

      @media only screen and (max-width: $media_sm) {
        padding-left: 15px;
        padding-right: 15px;
      }

      .question {
        padding: 10px 20px 20px 20px;
        margin: 0 auto;
        font-size: 30px;
        text-align: center;
        color: #508BC7;
        font-weight: bold;
        margin-bottom: 30px;

        @media only screen and (max-width: $media_sm) {
          margin-bottom: 0;
          font-size: 25px;
          padding-bottom: 30px;
        }

      }

      .answers {
        font-size: 24px;
        line-height: 34px;

        .image_question {
          //display: none;
          height: 324px;
          width: 324px;
          position: relative;
          z-index: 1;
          -webkit-perspective: 1000px;
          perspective: 1000px;

          #image_answer {
            img {
              max-width: 100%;
            }
          }

          .gold, .silver {
            position: absolute;
            background: #FFF8D3;
            width: 324px;
            height: 324px;
            top: -6px;
            -ms-transform: rotate(-13deg);
            -webkit-transform: rotate(-13deg);
            -moz-transform: rotateY(-13deg);
            -o-transform: rotateY(-13deg);
            transform: rotate(-13deg);
            left: 10px;
            z-index: 2;
          }

          .silver {
            z-index: 1;
            background: #F1F1F1;
            top: -6px;
            left: 10px;
            -ms-transform: rotate(-3deg);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotateY(-3deg);
            -o-transform: rotateY(-3deg);
            transform: rotate(-3deg);
          }

          .card {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: all .6s linear;
            position: absolute;
            z-index: 3;
            -ms-transform: rotate(8deg);
            -webkit-transform: rotate(8deg);
            -moz-transform: rotateY(8deg);
            -o-transform: rotateY(8deg);
            transform: rotate(8deg);
          }

          .front, .back {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            position: absolute;
          }

          .face {
            -ms-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            transform: rotateY(0deg);

            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            border: 1px solid #f1f1f1;
            background-color: #fff;
            -webkit-box-shadow: #d2d2d2 0 2px 2px;
            -moz-box-shadow: #d2d2d2 0 2px 2px;
            box-shadow: #d2d2d2 0 2px 2px;
            text-align: center;
            padding: 83px;

          }
          .face.back {
            display: block;
            -ms-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);

            border: 1px solid #f1f1f1;
            padding: 15px;
            background-color: #fff;
            -webkit-box-shadow: #d2d2d2 0 2px 2px;
            -moz-box-shadow: #d2d2d2 0 2px 2px;
            box-shadow: #d2d2d2 0 2px 2px;
          }

          &:hover .card {
            -ms-transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            transform: rotateY(180deg);
            transition: 1s;
          }
        }
        ul {
          @media only screen and (max-width: $media_sm) {
            padding-left: 0;
          }

          li {
            margin-bottom: 20px;
            line-height: 38px;
            cursor: pointer;
            border: 1px solid #F1F1F1;
            padding: 11px 20px;
            list-style: none;
            font-size: 19px;
            color: #7F7F7F;
            padding-right: 50px;

            span {
              background: #F1F1F1;
              width: 37px;
              display: inline-block;
              text-align: center;
              margin-right: 20px;
              border: 1px solid #F1F1F1;
            }

            &.active {
              background-color: #508BC7;
              color: #fff;
              position: relative;

              &:after {
                content: "\f00c";
                font-family: FontAwesome;
                position: absolute;
                right: 20px;
                color: #fff;
                height: 40px;
                line-height: 40px;
                top: 50%;
                margin-top: -20px;
              }

              span {
                background: #508BC7;
              }
            }
          }
        }
      }

      .btn_next {
        padding-top: 30px;
        padding-bottom: 60px;

        #next_question {
          background-color: transparent;
          text-align: center;
          color: #336699;
          font-size: 16px;
          line-height: 16px;
          padding: 12px 40px;
          border: 0;
          border: 1px solid #336699;

          &.disabled {
            background-color: transparent;
            border: 1px solid #DEDEDE;
            color: #DEDEDE;
          }
        }
      }

    }

    #bg_testBox {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 2;
      display: none;

      .loader {
        border: 7px solid #f1f1f1;
        border-top: 7px solid #970000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 61px;
        left: 50%;
        margin-left: 93px;
        animation: spin 1s linear infinite;
      }
    }

  }

  .test_view {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
  }

  #testEnded {
    display: none;
    padding-top: 65px;

    &.active {
      display: block;
    }

    .top {
      background-color: #fff;
      padding-top: 40px;

      img {
        width: 220px;
        margin-bottom: -120px;
      }
    }

    .bottom {
      background-color: #508BC7;
      padding-top: 150px;
      padding-bottom: 150px;

      h2, h3 {
        color: #fff;
      }

      h2 {
        font-size: 60px;
      }

      h3 {
        font-size: 21px;
        padding-bottom: 30px;
        font-weight: 300;
      }

      .end_btn {
        height: 50px;

        button {
          font-size: 19px;
          color: #7F7F7F;
          padding: 10px 60px;
          border: 0;
          background-color: #fff;
        }
      }
    }

    .bottom_bg {
      padding-top: 294px;
      padding-bottom: 100px;
      @include bgImage('pages/test/test_end_bottom_bg.png');
      background-repeat: no-repeat;
      background-position: center top;
      margin-top: -200px;

      .bottom_table {
        width: 100%;
        height: 37px;
        background-color: #F4F4F4;
        border-bottom: 1px solid #4B81B8;
      }
    }

  }

}