#userPanel{

  .settings{
    width: 900px;
    margin:0 auto;
  }

  .infoBoxPanel span{
    position: relative;
    width: 600px;
    margin:0 auto;
    color: #fff;
    background: #5fbb58;
    padding: 20px 50px;
    text-align: center;
    font-size: 18px;
    display:block;
  }

  .subtitle{
    margin:0;

    &:first-child{
      margin-top:0;
    }

    h3{
      color:#01669c;
    }

  }

  .title{

    h2{
      color: #01669c;
      font-size: 36px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    p{
      font-size: 16px;
      color: #999999;
    }
  }

  .left{
    color: #bababa;
    font-size: 16px;
    line-height: 14px;
    padding: 23px 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  .right{

    padding-bottom:20px;



    input{
      background: #f1f1f1;
      border: 1px solid #dedede;
      color: #555;
      font-size: 18px;
      line-height: 18px;
      padding: 20px;
      width:50%;

      &::-webkit-input-placeholder {color: #d8d8d8;}
      &:-moz-placeholder { color: #d8d8d8;  }
      &::-moz-placeholder { color: #d8d8d8;  }
      &:-ms-input-placeholder { color: #d8d8d8;  }

      &.error{
        border-color:$clMainRed;
      }
    }


    .fa.error{
      position: relative;
      top: 18px;
      right: 20px;
      margin-left: -20px;
      z-index: 2;
      color:$clMainRed;
      display: none;
      width: 10px;
      padding: 0;
      margin: 0 auto;
      line-height: 50px;
      top: 0;
    }


    &.has-error{

      input{
        border: 2px solid red;
      }

      .fa.error{
        display: inline-block;
      }

    }





    &.login{
      font-size: 22px;
      padding-top: 20px;
      line-height: 22px;
      color:#4C4C4C;
    }

  }

  .box{

    .row{
      padding-left:15px;
    }

  }


  .log{
    display:none;
    color: #fff;
    background: #5fbb58;
    padding: 20px 50px;
    text-align: center;
    font-size: 12px;
    margin:0 auto;


    p{
      padding: 0;
      margin: 0 auto;
      font-size: 13px;
    }

  }

  .popover-info{
    font-size: 24px;
    line-height: 40px;
    padding: 0;
    margin-left: 10px;
    vertical-align: bottom;
    color: #bababa;
    cursor: pointer;
  }



}
