/* -------------------- main styles --------------------   */
body.lessonsPage {
  $cl-main-blue: #01669c;
  $cl-main-red: #C02121;

  $media_steps6: 1900px;
  $media_steps5: 1200px;
  $media_steps4: 992px;
  $media_steps3: 768px;
  $media_steps2: 480px;
  $media_steps1: 320px;

  padding: 0;
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
  }

  /* relative section main class */
  .section {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    min-height: 500px;

    .main-container {
      @media only screen and (max-width: $media_steps4) {
        max-width: 100%;
      }
    }
  }

  /* main scene container  */

  .scene_container {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 400px;

    @media only screen and (max-width: $media_steps4) {
      margin-bottom: 0;
    }
  }

  /* fixed section class - parallax  */
  .section-fixed {
    overflow: hidden;

    .fixed-container {
      position: fixed;
      width: 100%;
      height: 100%;
      max-width: 1920px;
      max-height: 1080px;
      top: 0;
      left: 50%;
      margin: 0 auto;
      overflow: hidden;
      z-index: 0;

      @media only screen and (max-width: $media_steps4) {
        position: relative;
      }
    }
  }

  .parallax-list {
    width: 100%;
    height: 100%;
  }

  .frame {
    position: relative;
    width: 110%;
    height: 100%;
    left: -5%;
  }

  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .parallax-object {
    display: block;
    position: absolute;
    bottom: 0;
  }

  /* pin class [pos: top, left] */
  .pin {
    position: absolute;
    z-index: 999;
    width: 70px;
    height: 70px;
    background-color: #9b9b9b4d;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    &:before {
      font-family: FontAwesome;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      font-size: 40px;
      line-height: 70px;
      text-align: center;
      color: #fff;
      @include Opacity(1);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.3);

      &:before {
        @include Opacity(1);
      }
    }

    &.question {
      &:before {
        font-family: FontAwesome;
        content: "\f29c";
      }
    }

    &.test {
      &:before {
        font-family: FontAwesome;
        content: "\f05d";
      }
    }

    &.video {
      &:before {
        font-family: FontAwesome;
        content: "\f04b";
      }
    }

    &.image {
      &:before {
        font-family: FontAwesome;
        content: "\f03e";
      }
    }

    &.text {
      &:before {
        font-family: FontAwesome;
        content: "\f0e5";
      }
    }

  }

  button.close {
    width: 50px;
    height: 50px;
    background-color: #EFEFEF;
    @include Opacity(1);
    border-radius: 50%;
    transition: all .3s ease-in-out;
    top: -21px;
    position: absolute;
    right: -22px;
    font-size: 51px;
    line-height: 50px;
    text-shadow: none;
    z-index: 2;
    border: 1px solid #D0D0D0;

    span {
      color: #999999;
      line-height: 47px;
      vertical-align: top;
      padding: 0;
      margin: 0;
      height: 50px;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.3);
      @include Opacity(1);

      span {
        color: #508BC7;
      }
    }

  }


  .makeVisible {
    @include Opacity(0);

    @media only screen and (max-width: $media_steps4) {
      @include Opacity(1);
    }
  }

  .container {
    &.relative {
      position: relative;
    }
  }

  .absolute-pos {
    position: absolute;
    max-width: 100%;
    //top: 0;

    &.bottom-pos {
      top: auto;
      bottom: 0;
    }

    &.full-width {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      overflow: hidden;
    }

    img {
      &.full-w {
        max-width: 100%;
      }

      &.img-absolute {
        position: absolute;
        top: 0;
      }
    }

    /* ------------------ set z-index ------------------ */
    &.index-1 {
      z-index: 1;
    }

    &.index-2 {
      z-index: 2;
    }

    &.index-3 {
      z-index: 3;
    }

    &.index-4 {
      z-index: 4;
    }

    &.index-5 {
      z-index: 5;
    }

    &.index-6 {
      z-index: 6;
    }

  }

  /* colors */
  .text-blue {
    color: $cl-main-blue !important;
  }

  .text-red {
    color: $cl-main-red !important;
  }

  .text-white {
    color: #fff !important;
  }

  /* section text */
  .text-section {

    @media only screen and (max-width: $media_steps4) {
      position: relative !important;
      max-width: 100%;
      top: 0 !important;
      padding-top: 100px;
    }

    h2 {
      font-size: 54px;
      line-height: 65px;
      font-weight: bold;
      padding: 0;
      margin: 0 auto;
    }

    h3 {
      font-size: 24px;
      line-height: 30px;
      padding: 0;
      margin: 0 auto;
      padding-bottom: 30px;
      padding-top: 15px;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
    }

    p, h1, h2, h3, h4, h5, h6 {
      @media only screen and (max-width: $media_steps4) {
        max-width: 100%;
      }
    }

    &.padding-p {
      p {
        padding: 20px 0;
      }
    }

  }

  .error_box {
    margin-top: 150px;
    text-align: center;
    font-size: 35px;
  }

  /* --- page footer --- */
  #footer {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
    height: 400px;
    margin: 0 auto;
    padding: 0;
    max-width: 100%;

    @media only screen and (max-width: $media_steps4) {
      position: relative;
      z-index: 1;
      height: auto;
    }

    #scene-info {
      padding-top: 0;
      color: #787878;
      font-size: 24px;
      line-height: 30px;
      background-color: #fff;
      max-width: 100%;

      .left, .right, .middle {
        padding: 0px;
      }

      .left {
        .front {
          background-color: #F1F1F1;
        }
      }

      .right {
        .front {
          background-color: #D4D4D4;
        }
      }

      .middle {
        .front {
          background-color: #DFDFDF;
        }
      }

      /* -- flip effect -- */
      .flip-container {
        -webkit-perspective: 1000px;
        perspective: 1000px;
      }

      .flip-container:hover .flipper, .flip-container.hover .flipper {
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);

        &.w_url {
          -ms-transform: none;
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          transform: none;

          .front {
            transition: all .3s ease-in-out !important;
          }
        }
      }

      .flip-container, .front, .back {
        width: 100%;
        height: 330px;
      }

      .flipper {
        transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
      }

      .front, .back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: absolute;
        padding: 30px;
        padding-top: 60px;
        top: 0;
        left: 0;
      }

      .front {
        z-index: 9999;
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);

        font-size: 30px;
        line-height: 34px;
        font-style: italic;

        a {
          color: #787878;
          text-decoration: none;
        }

        .fa {
          font-size: 100px;
          line-height: 120px;
          padding: 0;
          margin: 0 auto;
          display: block;
        }
      }

      .back {
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #fff;
        color: #508BC7;
        font-size: 16px;
        line-height: 18px;
        text-align: left;
        padding-top: 25px;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 27px;
          background: #D9F2FF;
        }

        .title {
          color: #508BC7;
          font-size: 30px;
          line-height: 32px;
          font-weight: bold;
          font-family: 'Dosis', sans-serif;
          padding-bottom: 15px;
        }

        .text {
          color: #999999;

          ul, ol {
            list-style: none;
            padding: 0;
            margin: 0 auto;

            li {
              margin: 0 auto;
              padding-bottom: 15px;
              position: relative;
              padding-left: 32px;
              font-size: 14px;

              span {
                display: block;
                width: 25px;
                height: 25px;
                background: #EFEFEF;
                color: #508BC7;
                text-align: center;
                border-radius: 50%;
                font-size: 12px;
                font-weight: bold;
                line-height: 25px;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          p {
            font-size: 14px;
            width: 230px;
          }
        }

      }

      .w_url:hover {
        .front {
          background: #508BC7;
          color: #fff;

          a {
            color: #fff;
          }
        }
      }

      .middle {
        .back{
          .image{
            position: absolute;
            z-index: 2;
            top:20px;
            right: 50px;
            width: 110px;
            height:75px;

            img{
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }

      .left {
        .back{
          .image{
            width: 220px;
            height: 351px;
            position: absolute;
            bottom:-10px;
            right:0;
            vertical-align: bottom;
            text-align: center;
            z-index: 2;

            img{
              max-width: 120px;
            }
          }
        }
      }

    }

    #copyright {
      padding: 20px 20px;
      height: 55px;
      background-color: #fff;
      display: block;
      position: relative;
    }

  }

  /* --- modals --- */
  .modal {
    z-index: 999999999;
  }

  .modal-backdrop {
    z-index: 999999998;
  }

  .modal-dialog {

    .modal-header {
      border: 0;
      padding: 0;
      margin: 0 auto;
      min-height: 0;
    }

    .modal-footer {
      padding: 0;
      margin: 0 auto;
      font-size: 10px;
      border: 0;

      p {
        padding: 0;
        margin: 0 auto;
        padding-top: 10px;
        color: #888888;
        text-align: left;

        a {
          color: #888888;
          text-decoration: none;
          font-style: italic;
        }
      }
    }

    &.full-screen {
      height: 90%;
      width: 90%;
      margin: 0 auto;
      margin-top: 2.5%;

      .modal-content {
        height: 100%;
        margin: 0 auto;
      }
    }

    .modal-content {
      border: 0;
      border-radius: 0;
      min-height: 300px;
      position: relative;
      padding: 15px;


      img {
        max-width: 100%;
      }


      .modal-body {
        padding: 0;

        iframe {
          width: 100%;
        }

        p {
          width: 100%;
          padding-right: 200px;
        }

        h2 {
          margin-top: 0;
          margin-bottom: 0;
        }

        h3 {
          margin-top: 0;
          margin-bottom: 20px;
        }


        img {
          max-width: 100%;
        }

      }

      &.with_bottom_img {
        .bottom_image {
          position: absolute;
          bottom: 0;
          right: -80px;
          max-width: 300px;

          img {
            max-width: 100%;
          }
        }
      }

    }

  }

  #ModalSelectLesson {

    .modal-body {
      padding: 40px;
      overflow-y: scroll;
      max-height: 90%;

      h3 {
        font-size: 40px;
        line-height: 45px;
        color: #508BC7;
        margin: 0 auto;
        padding: 0;
      }

      h4 {
        font-size: 22px;
        line-height: 28px;
        color: #8f8f8f;
        margin: 0 auto;
        padding: 0;
        padding-bottom: 30px;
        font-weight: 300;
      }

      .box {
        border: 10px solid #f2f2f2;
        width: 100%;
        min-height: 250px;
        background: #eee7eb;
        margin-bottom: 30px;
        position: relative;
        transition: all .5s;

        .image {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
        }

        .title {
          font-size: 30px;
          position: absolute;
          width: 100%;
          line-height: 30px;
          color: #fff;
          bottom: 30px;
          right: 30px;
          text-align: right;
          @include Opacity(0);
        }

        &.active, &:hover {
          border-color: #508BC7;
          background-color: #508BC7;

          .image {
            @include Opacity(.2);
          }

          .title {
            @include Opacity(1);
          }
        }
      }
    }
  }

  #loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    text-align: center;
    display: block;
    background-color: #ffffffe6;

    img {
      position: absolute;
      top: 50%;
      margin-top: -180px;
      margin-left: -90px;
    }
  }


  @import "l1/s1";
  @import "l1/s2";
  @import "l1/s3";
  @import "l1/s4";
  @import "l1/s5";
  @import "l1/s6";
  @import "l1/s7";
  @import "l1/s8";
  @import "l1/s9";
  @import "l1/s10";
}