/* images url */
@mixin bgImage($imgpath) {
  $imageDir:'../../template/default/assets/images';
  background-image:  url('#{$imageDir}/#{$imgpath}');
}

/* opacity */
@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

/* main fonts */
$headerFont: 'Dosis', sans-serif;
$textFont: 'Open Sans', sans-serif;

/* rwd steps */
$media_xs: 575px;
$media_sm: 767px;
$media_md: 991px;
$media_lg: 1199px;

@media only screen and (max-width: $media_md) {
  //display: none;
}