body {
  background: #fff;
}

*, body, a, p, div, ul, li {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
}

a, button {
  &:focus, &:hover, &:active, &:focus {
    outline: none !important;
  }
}

.btn {
  -webkit-transition: all .2s linear;
  -moz-transition: all.2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;

  &.btn_green {
    color: #fff;
    background: #81b95d;
    border: 2px solid #81b95d;
    border-radius: 0;
    text-align: center;
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background: transparent;
      color: #81b95d;
      text-decoration: none;
    }
  }

  &.btn_blue {
    background-color: #01669c;
    border: 2px solid #01669c;
    color: #fff;
    padding: 20px 15px;
    border-radius: 0;

    &:hover {
      background-color: transparent;
      color: #01669c;
    }
  }

  &.btn_blue_border {
    color: #01669c;
    border: 2px solid #01669c;
    border-radius: 0;
    text-align: center;
    padding: 20px 15px;
    font-size: 14px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;

    &:hover {
      background: #01669c;
      color: #fff;
      text-decoration: none;

      .badge {
        color: #01669c;
        background: #fff;
      }
    }
  }

  &.btn_blue_border .badge {
    background: #01669c;
    color: #fff;
    margin-left: 5px;
    border-radius: 7px;
  }

  &.disabled {
    background-color: #d2d2d2 !important;
    border-color: #d2d2d2 !important;
    color: #b1b1b1 !important;
    padding-left: 40px !important;
    position: relative;

    &:before {
      -webkit-animation: fa-spin 1.2s infinite linear;
      animation: fa-spin 1.2s infinite linear;
      content: "\f110";
      font-family: FontAwesome;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 13px;
      margin-top: -14px;
    }

    &.without_loading {
      padding: 9px 15px !important;
      border: 2px solid #d2d2d2 !important;
      border-radius: 0;
      pointer-events: auto;
      cursor: pointer;

      &:before {
        display: none;
      }

      &:hover{
        color: #d2d2d2 !important;
        background: #fff !important;
      }
    }
  }

  &.small_pdn {
    padding: 15px 15px;
  }

  &.smallest_pdn {
    padding: 8px 15px;
  }

  &.dsb_text_transform {
    text-transform: none;
  }
}

#jGrowl {
  top: 55px;

  .jGrowl-notification {
    color: #fff;
    border: 0;
    font-weight: 100;
    line-height: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    //display: block;
    padding: 15px 20px;
    border-radius: 11px;
    position: relative;

    .jGrowl-close{
      position: absolute;
      top: 15px;
      right: 13px;
      font-size: 20px;
    }

    .jGrowl-header{
      font-size: 16px;
      padding-bottom: 10px;
    }
  }

  .jGrowl-notification.alert {
    &.error {
      background-color: rgba(197, 46, 46, 0.9);
    }
    &.info {
      background-color: rgba(129, 185, 93, 0.9);
    }
  }

  .jGrowl-closer {
    display: none !important;
  }
}

.infoBox {
  position: absolute;
  z-index: 2;
  top: 100px;
  width: 600px;
  color: #fff;
  background: $clMainGreen;
  left: 50%;
  margin-left: -300px;
  padding: 20px 50px;
  text-align: center;
  font-size: 18px;
}
