.subpage{
  padding-bottom:40px;

  margin-top: 60px;
  padding-top: 10px;

  &.bg_grey{
    background-color: #F5F5F5;
  }

  .top_page_header{
    text-align:center;
    margin:0 auto;
    padding:0;
    padding-top: 40px;
    padding-bottom: 60px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;

    @media only screen and (max-width: $media_sm) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .hide{
      display: none;
    }

    .title{
      padding:0;
      margin:0 auto;
      color: #01669c;
      font-size: 36px;
      line-height:40px;
      margin-bottom:10px;
      font-family: $headerFont;
      font-weight: bold;
    }
    .subtitle{
      padding:0;
      margin:0 auto;
      font-size: 16px;
      line-height:22px;
      color: #999;
      font-family:$textFont;
    }
  }


  .info_box{
    margin-top: 60px;
    margin-bottom: 50px;
    display:none;

    .image{
      margin:0 auto;
      padding:0;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .text{
      .title{
        font-size: 38px;
        font-weight: bold;

        font-size: 36px;
        line-height: 40px;


        color: $clMainBlue;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        padding: 0;
        letter-spacing: 1px;
      }

      .subtitle{
        font-size: 18px;
        color: #999;
        padding-bottom: 30px;
        margin-top:10px;
        font-weight: 400;
        line-height: 22px;
      }
    }

    .btns{
      .btn{
        display: block;
        text-align: center;
        width: 200px;
        margin:0 auto;

        @media only screen and (max-width: $media_sm) {
          max-width: 100%;
        }
      }

      .left_text_right{
        .btn{
          margin-right:0;
        }
      }
      .right_text_left{
        .btn{
          margin-left:0;
        }
      }
    }

    &.no_active{
      .image{
        width:276px;
        height:157px;
        @include bgImage('main/empty_active.png');
      }
    }

  }
}