footer {
  .left, .right {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .left {

    @media only screen and (max-width: $media_sm) {
      padding: 15px 0;
    }

    ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;

      li {

        a, button, button:active {
          color: #4C4C4C;
          font-size: 12px;
          line-height: 19px;
          padding: 0;
          border: 0;
          background: none;
          box-shadow: none;

          &:focus, &:active{
            background: none;
            border:0;
            color: #4C4C4C;
            box-shadow: none;
          }

          &:hover {
            background: none;
            border:0;
            text-decoration: underline;
            color: #4C4C4C;
          }
        }

        a, button {
          @media only screen and (max-width: $media_sm) {
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }

    .social_urls {

      @media only screen and (max-width: $media_sm) {
        padding-top: 20px;
      }

      a.social {
        display: inline-block;
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
        text-align: center;
        color: #BCBCBC;
        background: #EFEFEF;
        margin: 10px;
        margin-top: 0;

        &:hover{
          color:$clMainBlue;
        }

        @media only screen and (max-width: $media_sm) {
          margin: 0 10px 0 0;
        }
      }
    }
  }

  .right {
    border-left: 1px solid #EFEFEF;
    padding-left: 50px;

    @media only screen and (max-width: $media_sm) {
      padding: 0;
      border: 0;
    }

    p {
      font-size: 12px;
      line-height: 19px;

      &.b10 {
        padding-bottom: 10px;

        @media only screen and (max-width: $media_sm) {
          padding-bottom: 0;
        }
      }
    }
  }
}