header {
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 2;
  background: #fff;
  top: 0;
  text-align: right;
  background: none;
  box-shadow: none;
  margin: 0 auto;
  max-width: 100%;

  nav.navbar {
    margin: 0 auto;
    border: 0;
    background: #0000;
    box-shadow: none;
    z-index: 99999999;

    > .container {
      max-width: 100%;
    }

    .navbar-header {

      @media only screen and (max-width: $media_sm) {
        height: 70px;
      }

      .navbar-brand {
        padding: 0;
        line-height: 50px;

        img {
          max-width: 161px;
          height: 57px;
          padding-top: 13px;
        }
      }

      .navbar-toggle {
        @media only screen and (max-width: $media_sm) {
          margin-top: 20px;
          margin-right: 0;
        }
      }
    }

    #navbar {
      border: 0;

      ul.nav.navbar-nav {
        padding-bottom: 20px;

        > li {
          background: none;
          padding: 0;
          margin: 0 auto;
          padding-right: 20px;
          padding-left: 20px;
          padding-top: 20px;
          border-right: 1px solid rgba(255, 255, 255, 0.33);
          vertical-align: top;
          line-height: 30px;
          position: relative;

          @media only screen and (max-width: $media_sm) {
            text-align: center;
            border: 0;
          }

          &:after {
            content: "";
            display: block;
            height: 14px;
            width: 1px;
            position: absolute;
            right: 0;
            bottom: 8px;
            background: #CCCCCC;

            @media only screen and (max-width: $media_sm) {
              display: none;
            }
          }

          a, button {
            font-size: 14px;
            line-height: 30px;
            color: #999999;
            text-shadow: none;
            font-weight: bold;
            box-shadow: none;
            border: 0;
            background: none;
            padding: 0;
            margin: 0 auto;
            vertical-align: top;

            @media only screen and (max-width: $media_sm) {
              font-size: 20px;
              display: block;
              text-align: center;
              margin: 0 auto;
              position: relative;
              width: 100%;
            }

            span {
              vertical-align: top;

              &.hdn {
                display: none;
                @media only screen and (max-width: $media_sm) {
                  display: inline-block;
                }
              }
            }

            .fa {
              padding-right: 10px;
              color: #999999;
              font-size: 16px;
              width: 23px;
              display: inline-block;

              @media only screen and (max-width: $media_sm) {
                display: none;
              }
            }

            &:hover {

              color: #336799;

              .fa, span {
                color: #336799;
              }

            }
          }

          &:first-child {
            a, button {
              .fa {
                padding: 0;
              }
            }
          }

          &:last-child {
            border-right: 0;

            &:after {
              display: none;
            }

          }

          &.active {
            a, button {
              color: #336799;

              .fa {
                color: #336799;
              }
            }
          }

          .dropdown-menu {
            right: -14px;
            top: 63px;
            padding: 0;
            border-radius: 0;
            min-width: 260px;
            border-top: 0;

            @media only screen and (max-width: $media_sm) {
              background: #eeeeee;
              right: auto;
              position: relative;
              margin: 0 auto;
              height: auto;
              width: 100%;
              top: auto;
              margin-top: 10px;
            }

            .caret-top {
              position: absolute;
              top: -22px;
              font-size: 35px;
              color: #fff;
              right: 47px;

              @media only screen and (max-width: $media_sm) {
                display: none;
              }
            }

            .dropdown-header {
              font-size: 22px;
              line-height: 36px;
              font-weight: bold;
              color: #336799;
              padding: 0;
              margin: 0 auto;
              border: 0;
              padding-bottom: 10px;
            }

            .input-group {
              margin-bottom: 10px;

              .input-group-addon {
                border-radius: 0;
                border-color: #e0e0e0;
                background-color: #eeeeee;

                .fa {
                  color: #cacaca;
                }
              }

              input.form-control {
                border-radius: 0;
                border-color: #e0e0e0;
                border-left: 0;
                background-color: #f5f5f5;

                &::-webkit-input-placeholder {
                  color: #d8d8d8;
                }

                &:-moz-placeholder {
                  color: #d8d8d8;
                }

                &::-moz-placeholder {
                  color: #d8d8d8;
                }

                &:-ms-input-placeholder {
                  color: #d8d8d8;
                }

              }

            }

            .log {
              font-size: 12px;
              padding-top: 10px;
              text-align: center;
              background-color: #82ba5f;
              padding: 10px;
              color: #fff;
              display: none;
            }

            .btn {
              padding: 13px;
            }

          }

          .open {
            @media only screen and (max-width: $media_sm) {
              width: 100%;
            }

            .dropdown-menu {
              @media only screen and (max-width: $media_sm) {
                display: inline-block;
              }
            }
          }

          #menu_panel {

            .dropdown-header {
              border-bottom: 1px solid #dddddd;
              color: #c8c8c8;
              font-size: 16px;
              line-height: 16px;
              font-weight: bold;
              padding: 15px 25px;

              .fa {
                color: #c8c8c8;
                font-size: 16px;
                line-height: 16px;
                padding-right: 20px;
              }

              a {
                font-size: 16px;
                line-height: 16px;
                font-weight: bold;
                color: #c8c8c8;

                &:hover {
                  text-decoration: none;
                  color: $clMainBlue;

                  .fa {
                    color: $clMainBlue;
                  }
                }
              }

              @media only screen and (max-width: $media_sm) {
                display: none;
              }
            }

            .subnav {
              padding: 5px 25px;

              ul {

                list-style: none;
                padding: 0;
                margin: 0 auto;

                li {
                  padding: 0;
                  margin: 0 auto;
                  border-right: 0;
                  background-color: #fff;

                  @media only screen and (max-width: $media_sm) {
                    background: transparent;
                  }

                  &:last-child {
                    border: 0;
                  }

                  a.btn {
                    width: 100%;
                    display: block;
                    text-align: left;
                    margin: 0 auto;
                    max-width: 100%;
                    color: #9a9a9a;
                    background-color: transparent;
                    padding-left: 0;
                    padding-right: 0;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 16px;

                    @media only screen and (max-width: $media_sm) {
                      text-align: center;
                      font-size: 16px;
                      line-height: 20px;
                    }

                    .fa {
                      color: #9a9a9a; //##336799;
                      padding: 0;
                      margin: 0 auto;
                      padding-right: 30px;
                      font-size: 16px;
                      line-height: 16px;
                    }

                    &:hover, &.active {
                      color: #336799;

                      .fa {
                        color: #336799;
                      }
                    }

                  }

                }
              }

            }

            .logout {
              color: #01669c;
              border: 2px solid #01669c;
              text-align: center;
              padding: 15px 15px;
              font-size: 12px;
              background: transparent;
              text-transform: uppercase;
              font-weight: 400;
              text-decoration: none;
              display: block;
              max-width: 140px;
              line-height: 12px;
              border-radius: 0;

              &:hover {
                background: #01669c;
                color: #fff;
                text-decoration: none;
              }
            }

            .to_panel {
              padding: 20px;
              margin: 0 auto;
              line-height: 14px;
              height: auto;

              a {
                padding: 0;
                margin: 0 auto;
                line-height: 14px;
                height: auto;
                font-weight: 400;
              }
            }

          }

        }

      }

    }

  }

}