#modalLostPassword {
  .modal-content {
    border-radius:0;

    .modal-header {
      h4 {
        color: #01669c;
      }
    }

    .modal-body {

      padding: 30px;

      .left {
        label {
          color: #bababa;
          font-size: 14px;
          line-height: 14px;
          text-transform: uppercase;
          line-height: 50px;

          &.correct {
            color: green;
          }
        }
      }

      .box {
        padding-bottom: 20px;

        input {
          background: #f1f1f1;
          border: 1px solid #dedede;
          color: #c7c7c7;
          font-size: 18px;
          line-height: 18px;
          padding: 20px;
          width: 100%;
          color: #555;

          &::-webkit-input-placeholder {
            color: #d8d8d8;
          }
          &:-moz-placeholder {
            color: #d8d8d8;
          }
          &::-moz-placeholder {
            color: #d8d8d8;
          }
          &:-ms-input-placeholder {
            color: #d8d8d8;
          }

          &.error {
            border-color: #FCA0A1;
          }

        }

        .radio {
          position: absolute;
          top: 15px;
          width: 20px;
          right: 10px;
        }

        .fa.error {
          position: absolute;
          top: 18px;
          right: 20px;
          margin-left: -20px;
          z-index: 2;
          color: red;
          display: none;
          width: 10px;
          padding: 0;
          margin: 0 auto;
          line-height: 50px;
          top: 8px;
          display: none;
        }

        &.error {
          input {
            border: 2px solid red;
          }

          .fa {
            display: inline-block;
          }

        }
      }


      .log {
        color: #fff;
        background: #5fbb58;
        padding: 20px 50px;
        text-align: center;
        font-size: 12px;
        margin: 0 auto;
        margin-top: 15px;
        display: none;

        p {
          padding: 0;
          margin: 0 auto;
        }
      }

    }

  }
}
