#registrationLoginBox {
  .modal-dialog {
    width: 740px;

    @media only screen and (max-width: $media_sm) {
      max-width: none;
      width: 90%;
      margin: 0 auto;
      margin-top: 30px;
    }

    .modal-content {
      width: 100%;
      height: 400px;
      border-radius: 0;
      border: 0;
      -webkit-box-shadow: 5px -4px 0 0 rgba(255, 255, 255, 0.31);
      -moz-box-shadow: 5px -4px 0 0 rgba(255, 255, 255, 0.31);
      box-shadow: 5px -4px 0 0 rgba(255, 255, 255, 0.31);

      @media only screen and (max-width: $media_sm) {
        height:auto;
      }

      section#register_modal_box {
        .main {
          min-height: 400px;
          max-width: 100%;
          margin: 0 auto;
          padding: 0;

          @media only screen and (max-width: $media_sm) {
            height:auto;
          }

          .left {
            @include bgImage('main/modal_registration_log.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 400px;
            text-align: center;
            position: relative;

            .title {
              height: 80px;
              position: absolute;
              top: 50%;
              margin-top: -40px;

              h3, h4 {
                color: #fff;
              }

              h3 {
                font-size: 24px;
                margin-top: 10px;
              }

              h4 {
                font-size: 16px;
              }
            }

            @media only screen and (max-width: $media_sm) {
              display: none;
            }

          }

          .right {
            background-color: #fff;
            min-height: 400px;
            max-height: 400px;
            padding: 0;

            @media only screen and (max-width: $media_sm) {
              width: 100%;
              padding: 30px;
              height: auto;
              max-height: none;
            }

            .register_form, .login_form {
              height: 100%;
              padding: 0 80px;

              @media only screen and (max-width: $media_sm) {
                padding: 0;
                height: auto;
              }
            }

            .register_form {
              display: none;
            }

            .input-group {
              padding: 7px 0;

              @media only screen and (max-width: $media_sm) {
                width: 100%;
                padding: 10px;
              }

              .input-group-addon {
                width: 35px;
                padding: 0;
                text-align: center;
                background: #EEEEEE;
                color: #C9C9C9;
              }

              span, input {
                border-radius: 0;

                @media only screen and (max-width: $media_sm) {
                  line-height: 50px;
                  height: 52px;
                }

                &.error {
                  border-color: #FCA0A1;
                }
              }

              input {
                border-left: 0;
                background: #F5F5F5;
                color: #333333;


                &::-webkit-input-placeholder {
                  color: #C3C3C3;
                }
                &:-moz-placeholder {
                  color: #C3C3C3;
                }
                &::-moz-placeholder {
                  color: #C3C3C3;
                }
                &:-ms-input-placeholder {
                  color: #C3C3C3;
                }
              }

            }

            h3 {
              padding-top: 25px;
              font-size: 24px;
              color: #336699;
              padding-bottom: 15px;
              margin-bottom: 0;
            }

            .sbmt {
              padding: 10px;
            }

            .login_btn, .lost_passw {
              button {
                color: #999999;
                padding: 0;
                margin: 0 auto;
                text-align: center;
                border: 0;
                background: transparent;
                font-size: 14px;

                &:hover {
                  text-decoration: underline;
                }
              }
            }

            .register_btn {
              text-align: center;
              padding-top: 40px;

              button {
                width: 220px;
                text-align: center;
                border-radius: 0;
                font-size: 14px;
                text-transform: uppercase;
                border: 1px solid #C1D1E0;
                font-weight: bold;
                padding: 15px 10px;
                color: #276D9E;
                background: transparent;

                &:hover {
                  background: #276D9E;
                  color: #fff;
                }
              }
            }

          }

        }
      }

    }
  }
}