#top_panel {
  background-color: #eaeaea;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  @include bgImage('main/top_panel_bg.jpg');
  height: 190px;
  padding: 0;
  padding-top: 71px;

  @media only screen and (max-width: $media_sm) {
    height: 120px;
    padding: 0;
    padding-top: 23px;
    text-align: center;
    background-image: none;
  }

  h2.title {
    color: #333333;
    font-size: 38px;
    line-height: 38px;
    font-weight: bold;
    padding-bottom: 0;
  }

  .navPanel {
    background: #DDDDDD;
    height: 62px;
    bottom: -62px;
    border-bottom: 2px solid #DDDDDD;
    position: absolute;
    width: 100%;

    ul.nav {
      > li {
        border-right: 1px solid #eeeeee;
        background: white;
        padding: 0;
        margin: 0 auto;
        text-transform: uppercase;
        position: relative;
        height: 60px;

        a {
          height: 60px;
          padding: 25px 20px;
          border-radius: 0;
          color: #9a9a9a;
          font-weight: bold;
          font-size: 12px;
          vertical-align: top;
          line-height: 15px;
          letter-spacing: 0.3px;
          position: relative;

          span{
            vertical-align: top;
          }

          i {
            padding-right: 15px;
            line-height: 15px;
            color: $clMainBlue;
            font-size: 20px;
            width: 32px;

            @media only screen and (max-width: $media_sm) {
              text-align: center;
              padding-right:0;
            }
          }

          &:after {
            content: "\f0d7";
            font-family: FontAwesome;
            position: absolute;
            bottom: -18px;
            font-size: 30px;
            line-height: 30px;
            padding: 0;
            margin: 0 auto;
            left: 50%;
            margin-left: -7.5px;
            color: $clMainBlueLight;
            display: none;
          }
        }

        &.active {
          background-color: $clMainBlueLight;

          a, i {
            color: #fff;

            &:after {
              display: block;
            }
          }
        }

      }
    }

  }
}
