/* top menu */
.navbar#topNavbar {
  $cl-main-blue: #508BC7;
  $cl-main-red: #C02121;

  $media_steps6: 1900px;
  $media_steps5: 1200px;
  $media_steps4: 992px;
  $media_steps3: 768px;
  $media_steps2: 480px;
  $media_steps1: 320px;

  background-color: #fff;
  height: 70px;
  border-bottom: 0;
  z-index: 99999999;

  @media only screen and (max-width: $media_sm) {
    text-align: center;
  }

  .navbar-header {
    display: none !important;
  }

  #navbar {
    display: block !important;
    .navbar-toggle {
      border: 0;

      .icon-bar {
        background-color: $cl-main-blue;
      }
    }

    .left, .center, .right {
      height: 70px;
      line-height: 70px;
    }

    .right {
      padding-right: 0;
      padding-left: 0;
      border-left: 1px solid #D0D0D0;
    }
    .left {
      padding-left: 0;
      border-right: 1px solid #D0D0D0;

      &.without_border{
        border:0;
      }
    }

    .left {
      padding-right: 0;

      button#moreInfo {
        padding: 0;
        margin: 0 auto;
        border: 0;
        background: none;

        line-height: 70px;
        font-size: 16px;
        color: #999999;

        display: inline-block;
        width: 50%;

        .fa {
          line-height: 40px;
          font-size: 16px;
          padding: 0;
          margin: 0 auto;
          padding-right: 10px;
        }

        &:hover {
          color: $cl-main-blue;
          .fa {
            color: $cl-main-blue;
          }
        }

      }

      .image {
        display: inline-block;
        width: calc(50% - 10px);
        text-align: center;
        border-right: 1px solid #D0D0D0;
        max-height: calc(100% - 1px);

        img {
          max-height: 70px;
          padding: 7px;
        }


        &:hover{
          img{
            @include Opacity(.8);
          }
        }
      }
    }

    .center {
      padding-top: 8px;
      .navbar-center {

        &.nav {
          width: 100%;
          max-width: 100%;
          margin: 0 auto;

          a, button {
            color: $cl-main-blue;
            font-size: 19px;
            line-height: 40px;

            &:hover {
              color: #A8C5E3;

              .fa {
                color: #A8C5E3;
              }
            }

            .fa {
              color: $cl-main-blue;
            }
          }

          .navi-left, .navi-right {
            padding: 0;
            margin: 0 auto;
            width: 20%;
            height: 100%;
            text-align: center;
            padding-top: 2px;

            button {
              padding: 0;
              background: none;
              width: 50px;
              height: 50px;
              border: 1px solid #e7e7e7;
              display: block;
              margin: 0 auto;
              line-height: 50px;
              border-radius: 50%;

              .fa {
                font-size: 29px;
                line-height: 33px;
                padding: 0;
                margin: 0 auto;
              }

              &:hover {
                background-color: $cl-main-blue;
                color: #fff;
                @include Opacity(1);

                .fa {
                  color: #fff;
                  @include Opacity(1);
                }
              }

              &.disabled {
                @include Opacity(.5);

                &:hover {
                  background-color: #fff;
                  .fa {
                    color: $cl-main-blue;
                    @include Opacity(1);
                  }
                }
              }
            }
          }

          .navi-left {
            button {
              .fa {
                margin-left: -4px;
              }
            }
          }

          .navi-right {
            button {
              .fa {
                margin-right: -4px;
              }
            }
          }

          .navi-title {
            width: 60%;
            margin: 0 auto;
            padding: 0 auto;
            text-align: center;

            ul.titles {
              padding: 0;
              margin: 0 auto;
              li {
                padding: 0;
                margin: 0 auto;
                list-style: none;
                display: none;

                &.active {
                  display: block;
                }
              }
            }

            .number {
              font-size: 17px;
              line-height: 20px;
              padding: 0;
              margin: 0 auto;
              color: #999999;
              font-weight: 100;
              text-transform: uppercase;
            }

            .title {
              font-size: 23px;
              line-height: 33px;
              color: $cl-main-blue;
              font-weight: bold;
            }

          }

          li {
            @media only screen and (max-width: $media_steps3) {
              display: inline-block;
            }
          }

        }

      }
    }

    .right {
      .navi-all {
        margin: 0 auto;
        border: 0;
        padding: 0;
        background-color: #EFEFEF;
        height: 100%;

        button {
          padding: 0;
          margin: 0 auto;
          background: none;
          border: 0;
          line-height: 70px;
          font-size: 16px;
          width: 100%;
          color: #999999;

          .fa {
            line-height: 40px;
            font-size: 16px;
            padding: 0;
            margin: 0 auto;
            padding-right: 5px;

            &.fa-th {
              padding-top: 5px;
            }
          }

          &:hover {
            color: $cl-main-blue;
            .fa {
              color: $cl-main-blue;
            }
          }

        }
      }
    }

  }

}

#greyBg {
  background-color: #414141cc;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1031;
  display: none;
}

#leftMenu {
  $cl-main-blue: #508BC7;
  $cl-main-red: #C02121;

  background-color: #fff;
  position: fixed;
  top: 70px;
  left: -400px;
  height: 100%;
  height: 100vh;
  z-index: 1032;
  width: 400px;
  overflow-y: scroll;

  @media only screen and (max-width: $media_sm) {
    left:-80%;
    width:80%;
  }

  ul {
    width: 100%;
    list-style: none;
    padding-left: 0;

    li {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: left;

      a, button {
        width: 100%;
        padding: 15px 30px 15px 20px;
        display: block;
        border: 0;
        text-align: left;
        color: #000;
        background-color: #ececec;
        position: relative;
        border-bottom: 1px solid #ddd;

        &:hover {
          text-decoration: none;
          color: $cl-main-red;
        }

        &:before {
          content: "\f105";
          font-family: FontAwesome;
          font-size: 20px;
          line-height: 20px;
          padding: 0;
          margin: 0 auto;
          right: 20px;
          position: absolute;
          top: 50%;
          margin-top: -10px;
        }
      }

      &.active {
        > a, > button {
          color: #fff;
          background-color: $cl-main-red;
        }
      }

      &.open {

        > a, > button {
          color: #fff;
          background-color: $cl-main-red;
        }
      }

      ul {

        li {
          button {
            background-color: #dcdcdc;
            padding-left: 30px;

            &:before {
              display: none;
            }
          }
          ul {
            padding: 10px 0 10px 30px;

            li {
              border-left: 4px solid #dcdcdc;

              a, button {
                border-bottom: 0;
                background-color: transparent;
              }

              &.active {
                border-color: $cl-main-red;

                a, button {
                  background-color: #fff;
                  color: $cl-main-red;
                }
              }

            }
          }
        }
      }

    }
  }
}