#scene1 {
  /* --- positions parallax elements --- */
  .layer0 {
    width: 130%;
    z-index: 1;
  }
  .layer1 {
    margin-bottom: 26.8%;
    width: 21%;
    left: 75.5%;
    z-index: 2;
  }
  .layer2 {
    margin-bottom: 33%;
    width: 3%;
    left: 15%;
    z-index: 3;
  }
  .layer3 {
    margin-bottom: 19.1%;
    left: 9%;
    width: 89%;
    z-index: 4;
  }
  .layer4 {
    margin-bottom: 13%;
    left: 60%;
    width: 10%;
    z-index: 5;
  }
  .layer5 {
    margin-bottom: 9%;
    left: 30%;
    width: 14%;
    z-index: 6;
  }
  .layer6 {
    margin-bottom: 3%;
    left: 8%;
    width: 82%;
    z-index: 7;
  }
  .layer7 {
    margin-bottom: -15%;
    left: 12%;
    width: 90%;
    z-index: 8;
  }
  .layer8 {
    left: 24%;
    width: 64%;
    z-index: 1;
    top: 50%;
  }

  /* punkty modala */
  #pin1 {
    top: 20%;
    left: 64%;
  }

  /* --- sections --- */

  /* ---- section 1 ---- */

  #section01 {
    .fixed-container {
      background-color: #fef7da;
    }
  }

  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 800px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #sec2_object2 {
      top: 500px;
    }
    #sec2_object1 {
      width: 500px;
      top: 450px;
      right: 180px;
      z-index: 2;
    }
    #sec2_object0 {
      width: 500px;
      top: 200px;
      right: 0;
    }
    #circle_color1 {
      top: 100px;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #C02121;
    z-index: 1000;
  }
  #container3 {
    min-height: 1500px;
    p {
      font-size: 26px;
      line-height: 2em;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    #sec3_object0 {
      width: 600px;
      top: 300px;
      right: -280px;
    }
    #sec3_object1 {
      width: 600px;
      top: 370px;
      right: -280px;
    }
    #sec3_object2 {
      width: 160px;
      top: 400px;
      right: 200px;
    }
    #sec3_object3 {
      width: 40px;
      right: 80px;
      top: 800px;
    }
    #circles_white {
      top: 500px;
      width: 1200px;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom: 50px;
    }
  }
  #container4 {
    padding-top: 50px;
    .col-md-6.left {
      padding: 0px 75px 0px 75px;
    }
    .col-md-6.right {
      padding: 0px 75px 0px 75px;
      border-left: 1px solid #D4D4D4;
    }
    .icon {
      width: 150px;
    }
    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;
      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
  }
  /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;
  }
  #container5 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 100px;
    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }
    h4 {
      margin: 0 auto;
      width: 500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }
    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
    #sec5_object1 {
      top: 500px;
      left: -100px;
    }
    #sec5_object2 {
      top: 300px;
      right: -120px;
      width: 300px;
      z-index: 2;
    }

    #circles_color2 {
      top: 1300px;
      z-index: 3;
    }
  }
  /* ---- section 6 ---- */
  #section06 {
    background-color: #fff;
    #container6 {
      //padding-top: 50px;
      min-height: 1000px;
      margin-bottom: -50px;
      #text6 {
        top: 200px;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;
        h3 {
          width: 500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }
        h4 {
          margin: 0 auto;
          width: 500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }
        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color: #4c4c4c;
        }
      }
      #sec6_object0 {
        top: 990px;
        width: 100%;
        left: -50%;
        z-index: 1;
      }
      #sec6_object2 {
        top: 874px;
        left: -30%;
        width: 100%;
        z-index: 3;
      }

      #sec6_object1 {
        top: 50px;
        width: 360px;
        z-index: 2;
      }
    }
  }
}