#scene10 {
  .layer0 {
    width: 86%;
    left: 9%;
    margin-bottom: 17%;
  }
  .layer1 {
    width: 57%;
    left: 22%;
    margin-bottom: 20%;
  }
  .layer2 {
    width: 68%;
    left: 25%;
    margin-bottom: 33%;
  }
  .layer3 {
    width: 76%;
    left: 16%;
    margin-bottom: 10%;
  }
  .layer4 {
    width: 139%;
    left: -33%;
    margin-bottom: 0%;
  }
  .layer5 {
    width: 19%;
    left: 47%;
    margin-bottom: 19%;
  }
  .layer6 {
    width: 19%;
    left: 27%;
    margin-bottom: 10%;
  }
  .layer7 {
    width: 20%;
    left: 58%;
    margin-bottom: 3%;
  }
  .layer8 {
    width: 31%;
    left: 1%;
    margin-bottom: -2%;
  }
  .layer9 {
    width: 25%;
    left: 59%;
    margin-bottom: -11%;
  }
  .layer10 {
    width: 100%;
    left: -7%;
    margin-bottom: -2%;
  }

  /* punkty modala */

  #pin1 {
    top: 17%;
    left: 50%;
  }

   #pin2 {
    top: 60%;
    left: 55%;
  }

  #section01 {
    background-color: #D6EAF1;
  }
  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 700px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #circle_color1 {
      width: 1000px;
      top: 120px;
      right: 300px;
    }
    #sec2_object0 {
      top: 50px;
      right: 800px;
    }
    #sec2_object1 {
      left: 250px;
      top: 600px;
      z-index:1;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #fff;
    z-index: 3;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom: 50px;
    }
  }
  #container3 {
    min-height: 1400px;
    padding-top: 50px;
    .col-md-12.center {
      padding: 0px 75px 0px 75px;
    }
    .col-md-4.center {
      padding: 0px 75px 0px 75px;
    }
    .icon {
      width: 1000px;
      margin-bottom: 55px;
    }
    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;
      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
    z-index: 1000;
    #container4 {
      min-height: 700px;
      #text4 {
        top: 100px;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;
        h3 {
          width: 500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }
        h4 {
          margin: 0 auto;
          width: 500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }
        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color: #4c4c4c;
        }
      }
      #sec4_object0 {
        bottom: 200px;
        left: -35%;
        z-index: 1;
      }
      #sec4_object2 {
        top: 900px;
        left: -50%;
        z-index: 3;
      }
      #circles_color2 {
        top: 1000px;
        z-index: 3;
      }
      #sec4_object1 {
        top: 450px;
        left: 20%;
        width: 200px;
        z-index: 2;
      }
    }
  }
}