#scene2 {
  /* --- positions parallax elements --- */
  .layer0 {
    width: 100%;
    margin-bottom: 7%;
    left: 8%;
    z-index: 1;
  }
  .layer1 {
    width: 120%;
    z-index: 2;
    margin-bottom: 9%;
    left: 5%;
  }
  .layer2 {
    width: 100%;
    z-index: 3;
    margin-bottom: -2%;
  }
  .layer3 {
    width: 77%;
    left: 11%;
    margin-bottom: 7%;
  }
  .layer4 {
    width: 50%;
    z-index: 4;
    left: 23%;
    margin-bottom: -1%;
  }
  .layer5 {
    z-index: 5;
    width: 25%;
    left: 38%;
    margin-bottom: -3%;
  }
  .layer6 {
    z-index: 6;
    width: 110%;
    left: -5%;
    margin-bottom: -5%;
  }
  #section01 {
    .fixed-container {
      background-color: #CBEAFF;
    }
  }
  /* punkty modala */
  #pin1 {
    top: 20%;
    left: 50%;
  }
  #pin2 {
    top: 41%;
    left: 31%;
  }
  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 800px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #ulica {
      width: 1000px;
      top: 120px;
      right: 300px;
    }
    #sec2_object2 {
      width: 1100px;
      top: 400px;
      right: -180px;
      z-index: 2;
    }
    #sec2_object1 {
      top: 70px;
      right: 450px;
    }
    #sec2_object0 {
      width: 1500px;
      top: 300px;
      right: 0px;
    }
    #circles_color1 {
      width: 1500px;
      top: 300px;
      right: 0px;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #fff;
    z-index: 2;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom: 50px;
    }
  }
  #container3 {
    min-height: 600px;
    padding-top: 50px;
    .col-md-6.left {
      padding: 0px 75px 0px 75px;
    }
    .col-md-6.right {
      padding: 0px 75px 0px 75px;
      border-left: 1px solid #D4D4D4;
    }
    .icon {
      width: 150px;
    }
    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;
      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #C02121;
  }
  #container4 {
    min-height: 1000px;
    p {
      font-size: 26px;
      line-height: 2em;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    #sec4_object2 {
      width: 150px;
      top: 500px;
      right: 370px;
    }
    #sec4_object1 {
      width: 150px;
      top: 600px;
      right: 500px;
    }
    #sec4_object0 {
      width: 800px;
      top: 600px;
      right: 200px;
    }
    #circles_white {
      top: 400px;
      width: 1000px;
    }
  }
  /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;
  }
  #container5 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 100px;
    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }
    h4 {
      margin: 0 auto;
      width: 500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }
    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
    #sec5_object1 {
      width: 150px;
      top: 550px;
      left: -50px;
    }
    #sec5_object2 {
      top: 200px;
      right: -120px;
      width: 200px;
      z-index: 2;
    }
  }
}