#scene3 {
  .layer0 {
    width: 62%;
    margin-bottom: 12%;
    left: 13%;
    z-index: 1;
  }
  .layer0b {
    width: 100%;
    margin-bottom: -5%;
    left: 2%;
    z-index: 1;
  }
  .layer1 {
    width: 72%;
    margin-bottom: 5%;
    left: 14%;
    z-index: 2;
  }
  .layer2 {
    width: 37%;
    margin-bottom: 2%;
    left: 32%;
    z-index: 3;
  }
  .layer3 {
    width: 50%;
    margin-bottom: 4%;
    left: 25%;
    z-index: 4;
  }
  .layer4 {
    width: 100%;
    margin-bottom: -11%;
    left: 0;
    z-index: 4;
  }
  /* punkty modala */
  #pin1 {
    top: 40%;
    left: 57%;
  }
  #section01 {
    background-color: #8D9472;
  }
  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 800px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #circles_color1 {
      width: 1000px;
      top: 320px;
      right: 300px;
    }
    #sec2_object2 {
      width: 400px;
      top: 750px;
      right: 280px;
      z-index: 2;
    }
    #sec2_object1 {
      width: 800px;
      top: 150px;
      right: 60px;
    }
    #sec2_object0 {
      width: 250px;
      top: 740px;
      right: 370px;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #fff;
  }
  #container3 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 100px;
    z-index: 1000;
    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }
    h4 {
      margin: 0 auto;
      width: 500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }
    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
    #sec3_object1 {
      width: 150px;
      top: 500px;
      left: -50px;
    }
    #sec3_object2 {
      top: 200px;
      right: -120px;
      width: 200px;
      z-index: 2;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #C02121;
  }
  #container4 {
    min-height: 1000px;
    padding-top: 60px;
    p {
      font-size: 26px;
      line-height: 2em;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    #sec4_object1 {
      width: 150px;
      top: 500px;
      right: 330px;
    }
    #sec4_object2 {
      width: 150px;
      top: 500px;
      right: 830px;
    }
    #sec4_object3 {
      width: 500px;
      top: 1050px;
      right: 400px;
    }
    #sec4_object0 {
      width: 800px;
      top: 600px;
      right: 200px;
    }
    #circles_white {
      top: 400px;
      width: 1000px;
    }
  }
  /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;
    #container5 {
      min-height: 850px;
      #text5 {
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;
        h3 {
          width: 500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }
        h4 {
          margin: 0 auto;
          width: 500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }
        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color: #4c4c4c;
        }
      }
      #sec5_object0 {
        width: 100%;
        left: -20%;
        z-index: 1;
      }
      #sec5_object3 {
        top: 720px;
        left: -50%;
        z-index: 3;
      }
      #circles_color2 {
        top: 1000px;
        z-index: 3;
      }
      #sec5_object1 {
        top: 1045px;
        left: 17%;
        width: 260px;
        z-index: 2;
      }
      #sec5_object2 {
        top: 1350px;
        left: 11%;
        width: 260px;
        z-index: 5;
      }
    }
  }
}