#scene4 {
  .layer0 {
    width: 123%;
    margin-bottom: 0%;
    left: -20%;
    z-index: 1;
  }
  .layer1 {
    width: 76%;
    margin-bottom: 12%;
    left: 13%;
    z-index: 1;
  }
  .layer2 {
    width: 39%;
    margin-bottom: 10%;
    left: 28%;
    z-index: 2;
  }
  .layer3 {
    width: 13%;
    margin-bottom: 8%;
    left: 17%;
    z-index: 3;
  }
  .layer4 {
    width: 24%;
    margin-bottom: -3%;
    left: 39%;
    z-index: 3;
  }
  .layer5 {
    width: 70%;
    left: 18%;
    margin-bottom: -2%;
  }
  .layer6 {
    width: 70%;
    left: 18%;
    margin-bottom: -4%;
  }
  .layer7 {
    width: 70%;
    left: 24%;
    margin-bottom: -7%;
  }
  /* punkty modala */
  #pin1 {
    top: 55%;
    left: 20%;
  }
  #pin2 {
    top: 41%;
    left: 50%;
  }
  #section01 {
    background-color: #E9DDAF;
  }
  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 800px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #circles_color1 {
      width: 1000px;
      top: 120px;
      right: 300px;
    }
    #sec2_object1 {
      top: 100px;
      right: 450px;
    }
    #sec2_object0 {
      left: 200px;
      top: 700px;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #C02121;
    z-index: 1000;
  }
  #container3 {
    min-height: 1700px;
    p {
      font-size: 26px;
      line-height: 2em;
      margin-bottom: 50px;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    #sec3_object1 {
      width: 600px;
      top: 300px;
      right: -280px;
    }
    #sec3_object0 {
      width: 600px;
      top: 200px;
      right: -280px;
    }
    #sec3_object2 {
      width: 160px;
      top: 400px;
      right: 200px;
    }
    #circles_white {
      top: 900px;
      width: 1200px;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
  }
  #container4 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 100px;
    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }
    h4 {
      margin: 0 auto;
      width: 500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }
    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
    #circles_color2 {
      top: 1000px;
      z-index: 5;
    }
    #sec4_object1 {
      width: 100px;
      top: 700px;
      left: -50px;
    }
    #sec4_object2 {
      top: 300px;
      right: -120px;
      width: 250px;
      z-index: 2;
    }
  }
}