#scene5 {
  .layer0 {
    width: 150%;
    margin-bottom: 25%;
    left: -35%;
    z-index: 1;
  }
  .layer1 {
    width: 100%;
    margin-bottom: -6%;
    left: 0;
    z-index: 2;
  }
  .layer2 {
    width: 26%;
    margin-bottom: 14%;
    left: 14%;
    z-index: 2;
  }
  .layer3 {
    width: 6%;
    margin-bottom: 11%;
    left: 25%;
    z-index: 3;
  }
  .layer4 {
    width: 15%;
    margin-bottom: -5%;
    left: 55%;
    z-index: 3;
  }
  .layer5 {
    width: 53%;
    margin-bottom: -10%;
    left: 30%;
    z-index: 4;
  }
  /* punkty modala */
  #pin1 {
    top: 30%;
    left: 35%;
  }
  #section01 {
    background-color: #AFDDE9;
  }
  /* ---- section 2 ---- */
  #section02 {
    background-color: #fff;
  }
  #container2 {
    min-height: 800px;
    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }
    h3 {
      font-weight: bold;
    }
    #circles_color1 {
      width: 1000px;
      top: 120px;
      right: 300px;
    }
    #sec2_object0 {
      top: 150px;
      right: 600px;
    }
    #sec2_object1 {
      left: 280px;
      top: 565px;
      z-index: 1;
      width: 150px;
    }
  }
  /* ---- section 3 ---- */
  #section03 {
    background-color: #fff;
    z-index: 2;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom: 50px;
    }
  }
  #container3 {
    min-height: 700px;
    padding-top: 50px;
    .col-md-6.left {
      padding: 0px 75px 0px 75px;
    }
    .col-md-6.right {
      padding: 0px 75px 0px 75px;
      border-left: 1px solid #D4D4D4;
    }
    .icon {
      width: 250px;
    }
    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;
      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }
    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color: #4c4c4c;
    }
  }
  /* ---- section 4 ---- */
  #section04 {
    background-color: #C02121;
  }
  #container4 {
    min-height: 1000px;
    p {
      font-size: 26px;
      line-height: 2em;
    }
    h3 {
      font-size: 18px;
      font-weight: 400;
    }
    #sec4_object2 {
      width: 400px;
      top: 600px;
      right: 270px;
    }
    #sec4_object3 {
      width: 200px;
      top: 300px;
      left: 170px;
    }
    #sec4_object1 {
      width: 500px;
      top: 700px;
      right: 400px;
    }
    #sec4_object0 {
      width: 800px;
      top: 600px;
      right: 200px;
    }
    #circles_white {
      top: 400px;
      width: 1000px;
    }
  }
  /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;
    #container5 {
      padding-top: 50px;
      min-height: 1000px;
      #text5 {
        top: 100px;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;
        h3 {
          width: 500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }
        h4 {
          margin: 0 auto;
          width: 500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }
        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color: #4c4c4c;
        }
      }
      #sec5_object2 {
        top: 950px;
        left: -30%;
        width: 100%;
        z-index: 3;
      }
      #circles_color2 {
        top: 1000px;
        z-index: 3;
      }
      #sec5_object1 {
        top: -150px;
        width: 860px;
        left: -50px;
        z-index: 2;
      }
    }
  }
}