#scene6{

  .layer0{
    width: 70%;
    margin-bottom: 28%;
    left: 13%;
    z-index: 1;
  }

  .layer1{
    width: 100%;
    margin-bottom: -4%;
    left: 0%;
    z-index: 1;
  }


  .layer2{
    width: 12%;
    margin-bottom: 12%;
    left: 19%;
    z-index: 2;
  }

  .layer3{
    width: 12%;
    margin-bottom: 12%;
    left: 67%;
    z-index: 2;
  }
  .layer4{
    width: 15%;
    margin-bottom: 5%;
    left: 42%;
    z-index: 2;
  }

  .layer5{
    width: 23%;
    margin-bottom: 4%;
    left: 38%;
    z-index: 3;
  }

  .layer6{
    width: 19%;
    margin-bottom: 11%;
    left: 15%;
    z-index: 3;
  }

  .layer7{
    width: 19%;
    margin-bottom: 11%;
    left: 64%;
    z-index: 3;
  }
  .layer8{
    width: 5%;
    margin-bottom: 11%;
    left: 57%;
    z-index: 3;
  }
  .layer9{
    width: 56%;
    margin-bottom: -7%;
    left: 27%;
    z-index: 4;
  }

  /* punkty modala */
  
  #pin1 {
    top: 35%;
    left: 61%;
  }


  #section01{
    background-color: #E6E6E6;
  }

  /* ---- section 2 ---- */

  #section02 {
    background-color: #fff;
  }

  #container2 {
    min-height: 800px;

    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }

    h3{
    font-weight:bold;
    }

    #circles_color1 {
      width:1000px;
      top: 120px;
      right:300px;
    }

    #sec2_object1 {
      top:140px;
      right:550px;
    }

    #sec2_object0 {
      left: 400px;
      top: 400px;
      width:150px;
    }

  }

/* ---- section 3 ---- */
  #section03 {
    background-color: #C02121;
  }

  #container3 {

    min-height: 1100px;

    p{
      font-size:26px;
      line-height:2em;
    }

    h3{
      font-size:16px;
      font-weight:bold;
    }

    #sec3_object2 {
      width: 650px;
      top: 700px;
      right: 300px;
    }

    #sec3_object1 {
      width: 270px;
      top: 450px;
      right: 500px;
    }

    #sec3_object0 {
      width: 800px;
      top: 700px;
      right: 200px;
    }

    #circles_white {
      top: 400px;
      width: 1000px;
    }

  }


  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
    z-index:1000;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom:50px;
    }
  }

  #container4 {
    min-height: 400px;

    .col-md-6.left {
    padding:0px 75px 0px 75px;
    }

    .col-md-6.right {
      padding:0px 75px 0px 75px;
      border-left:1px solid #D4D4D4;
    }

    .icon {
      width: 250px;
    }

    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;

      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }
  }

   /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;

    #container5 {
      min-height: 700px;

      #text5 {
        top: 100px;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;

        h3 {
          width:500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }

        h4 {
          margin: 0 auto;
          width:500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }

        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color:#4c4c4c;
        }
      }

      #sec5_object0 {
        bottom:300px;
        left: -70%;
        z-index: 1;
      }

      #sec5_object2 {
        top: 600px;
        left: -30%;
        width: 100%;
        z-index: 3;
      }

      #circles_color2 {
        top: 1000px;
        z-index: 3;
      }

      #sec5_object1 {
        top: 50px;
        width: 360px;
        z-index: 2;
      }

    }

  }
}