#scene7{

  .layer0{
    width: 51%;
    margin-bottom: 11%;
    left: 28%;
    z-index: 1;
  }

  .layer1{
    width: 55%;
    margin-bottom: 11%;
    left: 39%;
    z-index: 1;
  }

  .layer2{
    width: 78%;
    margin-bottom: 8%;
    left: 16%;
    z-index: 1;
  }
  .layer3{
    width: 100%;
    margin-bottom: -2%;
    left: 3%;
    z-index: 1;
  }
  .layer4{
    width: 36%;
    margin-bottom: 8%;
    left: 8%;
    z-index: 1;
  }
  .layer5{
    width: 90%;
    margin-bottom: 31%;
    left: 6%;
    z-index: 1;
  }
  .layer6{
    width: 5%;
    margin-bottom: 6%;
    left: 51%;
    z-index: 1;
  }
  .layer7{
    width: 24%;
    margin-bottom: -12%;
    left: 15%;
    z-index: 1;
  }
  .layer8{
    width: 187%;
    margin-bottom: -1%;
    left: 5%;
    z-index: 1;
  }

  /* punkty modala */

  #pin1 {
    top: 41%;
    left: 35%;
  }

   #pin2 {
    top: 20%;
    left: 50%;
  }


  #section01{
    background-color: #E0EFF4;
  }

  /* ---- section 2 ---- */

  #section02 {
    background-color: #fff;
  }

  #container2 {
    min-height: 800px;

    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }

    h3{
    font-weight:bold;
    }

    #circles_color1 {
      width:1000px;
      top: 120px;
      right:300px;
      z-index:2;
    }

    #sec2_object0 {
      top:150px;
      right:600px;
    }

    #sec2_object1 {
      left: 520px;
      top: 350px;
      z-index:1;
    }

  }

  /* ---- section 3 ---- */
  #section03 {
    background-color: #C02121;
  }

  #container3 {

    min-height: 2000px;

    p{
      font-size:26px;
      line-height:2em;
    }

    h3{
      font-size:16px;
      font-weight:bold;
    }

    #sec3_object2 {
      width:350px;
      top: 1380px;
      right: 450px;
    }

    #sec3_object1 {
      width: 1920px;
      top: 1650px;
    }

    #sec3_object0 {
      width: 800px;
      top: 1600px;
      right: 180px;
    }

    #circles_white {
      top: 400px;
      width: 1000px;
    }

  }

  /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;
    z-index:2000;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom:50px;
    }
  }

  #container5 {
    padding-top:80px;
    min-height: 1400px;

    .col-md-6.left {
    padding:0px 75px 0px 75px;
    }

    .col-md-6.right {
      padding:0px 75px 0px 75px;
      border-left:1px solid #D4D4D4;
    }

    .icon {
      width: 250px;
    }

    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;

      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }
  }

  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
  }

  #container4 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 100px;
    z-index:1000;

    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }

    h4 {
      margin: 0 auto;
      width:500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }

    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }

    #sec4_object1 {
      width: 150px;
      top: 700px;
      left: -50px;
    }

    #sec4_object2 {
      top: 200px;
      right: -150px;
      width: 300px;
      z-index: 2;
    }

    #circles_color2 {
      top: 1000px;
      z-index: 3;
    }

  }
}