#scene8{


  .layer0{
    width: 48%;
    margin-bottom: 35%;
    left: 10%;
    z-index: 1;
  }
  .layer1{
    width: 39%;
    margin-bottom: 13%;
    left: 32%;
    z-index: 2;
  }
  .layer2{
    width: 100%;
    margin-bottom: 10%;
    left: 2%;
    z-index: 3;
  }
  .layer3{
    width: 111%;
    margin-bottom: 0%;
    left: 0;
    z-index: 4;
  }
  .layer4{
    width: 30%;
    margin-bottom: 11%;
    left: 16%;
    z-index: 5;
  }
  .layer5{
    width: 23%;
    margin-bottom: 10%;
    left: 68%;
    z-index: 6;
  }
  .layer6{
    width: 64%;
    margin-bottom: -2%;
    left: -10%;
    z-index: 7;
  }
  .layer7{
    width: 20%;
    margin-bottom: -3%;
    left: 24%;
    z-index: 8;
  }

  .layer8{
    width: 50%;
    margin-bottom: -2%;
    left: 30%;
    z-index: 1;
  }

  /* punkty modala */

  #pin1 {
    top: 35%;
    left: 45%;
  }

   #pin2 {
    top: 60%;
    left: 55%;
  }

  #section01{
    background-color: #BDDBE9;
  }

  /* ---- section 2 ---- */

  #section02 {
    background-color: #fff;
  }

  #container2 {
    min-height: 800px;

    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }

    h3{
    font-weight:bold;
    }

    #circles_color1 {
      width:1000px;
      top: 120px;
      right:300px;
      z-index:2;
    }

    #sec2_object1 {
      top:260px;
      right:500px;
    }

    #sec2_object0 {
      width:20%;
      left: -700px;
      top: 600px;
      z-index:1;
    }

  }

  /* ---- section 3 ---- */
  #section03 {
    background-color: #fff;
    z-index:2000;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom:50px;
    }
  }

  #container3 {
    min-height: 1400px;
    padding-top: 50px;

    .col-md-12.center {
    padding:0px 75px 0px 75px;
    }

    .col-md-4.center {
    padding:0px 75px 0px 75px;
    }

    .icon {
      width: 1000px;
      margin-bottom:55px;
    }

    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;

      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }
  }

  /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
    min-height:500px;
  }

  #container4 {
    background-color: #F1F1F1;
    border-radius: 10px;
    padding: 50px 20px;
    width: 900px;
    padding-bottom: 50px;
    z-index:1000;

    h3 {
      font-size: 54px;
      line-height: 60px;
      font-weight: bold;
    }

    h4 {
      margin: 0 auto;
      width:500px;
      font-size: 24px;
      line-height: 1.5em;
      color: #333;
      font-weight: bold;
    }

    p {
      margin: 0 auto;
      width: 500px;
      font-size: 18px;
      margin-top: 50px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }

    #sec4_object1 {
      width: 250px;
      top: 700px;
      left: -100px;
    }

    #sec4_object2 {
      top: 200px;
      right: -150px;
      width: 300px;
      z-index: 2;
    }

  }

   /* ---- section 5 ---- */
  #section05 {
    background-color: #fff;

    #container5 {
      min-height: 300px;

      #text5 {
        top: 100px;
        right: 0;
        margin: 0 auto;
        position: absolute;
        text-align: left;
        width: 650px;

        h3 {
          width:500px;
          font-size: 54px;
          line-height: 60px;
          font-weight: bold;
        }

        h4 {
          margin: 0 auto;
          width:500px;
          font-size: 24px;
          line-height: 1.5em;
          color: #333;
          font-weight: bold;
        }

        p {
          margin: 0 auto;
          padding-top: 30px;
          width: 500px;
          font-size: 18px;
          font-weight: 300;
          line-height: 1.7em;
          color:#4c4c4c;
        }
      }

      #sec5_object0 {
        bottom:25px;
        left:-40%;
        z-index: 1;
      }

      #circles_color2 {
        top: 400px;
        z-index: 3;
      }

    }

  }
}