#scene9 {

  .layer0 {
    width: 44%;
    left: 25%;
    margin-bottom: 32%;
  }
  .layer1 {
    width: 7%;
    left: 37%;
    margin-bottom: 33%;
  }
  .layer2 {
    width: 100%;
    left: 0%;
    margin-bottom: 9%;
  }
  .layer3 {
    width: 9%;
    left: 22%;
    margin-bottom: 22%;
  }
  .layer4 {
    width: 5.5%;
    left: 57%;
    margin-bottom: 22%;
  }
  .layer5 {
    width: 4.5%;
    left: 63%;
    margin-bottom: 24.8%;
  }
  .layer6 {
    width: 116%;
    left: -10%;
    margin-bottom: 7%;
  }
  .layer7 {
    width: 178%;
    left: -30%;
    margin-bottom: 0%;
  }
  .layer8 {
    width: 6%;
    left: 30%;
    margin-bottom: 8%;
  }
  .layer9 {
    width: 21%;
    left: 62%;
    margin-bottom: 6%;
  }
  .layer10 {
    width: 25%;
    left: 35%;
    margin-bottom: -5%;
  }
  .layer11 {
    width: 100%;
    margin-bottom: -8%;
    left: 0;
  }

  /* punkty modala */

  #pin1 {
    top: 35%;
    left: 45%;
  }

   #pin2 {
    top: 60%;
    left: 55%;
  }

  #section01 {
    background-color: #CDE5EE;
  }

/* ---- section 2 ---- */

  #section02 {
    background-color: #fff;
  }

  #container2 {
    min-height: 800px;

    #text2 {
      max-width: 500px;
      margin: 0 auto;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 3;
      color: #4C4C4C;
    }

    h3{
    font-weight:bold;
    }

    #circles_color1 {
      width:1000px;
      top: 120px;
      right:300px;
      z-index:2;
    }

    #sec2_object0 {
      top:280px;
      right:800px;
    }

    #sec2_object1 {
      width:20%;
      left: 250px;
      top: 600px;
      z-index:1;
    }

  }

   /* ---- section 3 ---- */
  #section03 {
    background-color: #C02121;
    z-index:1000;
  }

  #container3 {

    min-height: 1000px;
    padding-top:60px;

    p{
      font-size:26px;
      line-height:2em;
    }

    h3{
      font-size:16px;
      font-weight:bold;
    }

    #sec3_object2 {
      width: 250px;
      top: 570px;
      right: 330px;
    }

    #sec3_object3 {
      width: 350px;
      top: -200px;
      right: 830px;
    }

    #sec3_object1 {
      width: 500px;
      top: 800px;
      right: 500px;
    }

    #sec3_object0 {
      width: 800px;
      top: 600px;
      right: 200px;
    }

    #circles_white {
      top: 400px;
      width: 1000px;
    }

  }

   /* ---- section 4 ---- */
  #section04 {
    background-color: #fff;
    z-index:1000;
    @media only screen and (max-width: $media_steps4) {
      padding-bottom:50px;
    }
  }

  #container4 {
    min-height: 700px;
    padding-top: 50px;

    .col-md-6.left {
    padding:0px 75px 0px 75px;
    }

    .col-md-6.right {
      padding:0px 75px 0px 75px;
      border-left:1px solid #D4D4D4;
    }

    .icon {
      width: 300px;
    }

    h3 {
      margin: 0 auto;
      font-size: 24px;
      padding-top: 60px;
      padding-bottom: 20px;
      position: relative;
      font-weight: bold;
      color: #333;

      &::before {
        content: ' ';
        width: 100px;
        left: 50%;
        top: 30px;
        margin-left: -50px;
        border-top: 1px solid #D4D4D4;
        position: absolute;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.7em;
      color:#4c4c4c;
    }
  }
}